<div class="tw-min-h-[60vh] md:tw-min-h-0">
    <!-- Display Images for Mobile and Tablet -->
    <swiper [config]="config" class="h-100 md:tw-hidden" #swiperSlideShow>
        <ng-template swiperSlide *ngFor="let photo of photos">
            <img nz-image [src]="photo.url" class="tw-object-top w-100 h-100">
        </ng-template>
    </swiper>

    <!-- Display Images for Desktop -->
    <div class="tw-hidden md:tw-flex">
        <div class="tw-container">
            <!-- Các hàng trên: mỗi hàng 2 ảnh -->
            <div *ngFor="let row of topRows" class="tw-h-[800px] tw-grid tw-grid-cols-2 tw-gap-1 tw-mb-1">
                <div *ngFor="let photo of row" class="tw-h-full tw-w-full tw-relative tw-overflow-hidden tw-aspect-square">
                    <img [src]="photo.url" [alt]="'Photo ' + photo.id"
                        class="tw-w-full tw-h-full tw-object-cover" />
                </div>
            </div>

            <!-- Hàng cuối: 3 hoặc 4 ảnh tùy theo tổng số ảnh chẵn/lẻ -->
            <div class="tw-grid tw-gap-1" [ngClass]="isEvenTotal ? 'tw-grid-cols-4' : 'tw-grid-cols-3'">
                <div *ngFor="let photo of lastRow"
                    class="tw-relative tw-overflow-hidden tw-aspect-square">
                    <img [src]="photo.url" [alt]="'Photo ' + photo.id"
                        class="tw-w-full tw-h-full tw-object-cover" />
                </div>
            </div>
        </div>
    </div>
</div>