<nz-layout class="px-3">
    <nz-card class="w-100" nzTitle="Campaign Performance Overview" [nzExtra]="dateTemplate" [nzLoading]="loading">
        <h5 nz-typography class="d-flex align-items-center mb-3">
            <span nz-icon nzType="facebook" nzTheme="fill" class="me-2"></span>
            Facebook
        </h5>
        <nz-table #facebookTable nzBordered [nzFooter]="facebookSummaryFooter" [nzData]="metaMapData"
            [nzShowPagination]="false" [nzLoading]="loading" [nzScroll]="{ x: '1150px', y: '240px' }">
            <thead>
                <tr>
                    <th nzLeft nzWidth="300px">Campaign</th>
                    <th nzWidth="120px">Mục tiêu</th>
                    <th nzWidth="120px">Ngân sách</th>
                    <th nzWidth="120px">Tin nhắn</th>
                    <th nzWidth="120px">Chi phí mỗi tin nhắn</th>
                    <th nzWidth="120px">Lượt hiển thị</th>
                    <th nzWidth="120px">CPM</th>
                    <th nzWidth="120px">CTR</th>
                    <th nzWidth="120px">CPC</th>
                    <th nzWidth="120px">Tần suất</th>
                    <th nzWidth="120px">Lượt mua</th>
                    <th nzWidth="120px">2 lượt nhắn tin qua lại</th>
                    <th nzWidth="120px">3 lượt nhắn tin qua lại</th>
                    <th nzWidth="120px">5 lượt nhắn tin qua lại</th>
                    <th nzWidth="120px">Chi phí trên mỗi lượt mua</th>
                    <th nzRight nzWidth="120px">Đã chi tiêu</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of facebookTable.data">
                    <ng-container *ngFor="let item of metaExpandedData[data.key]">
                        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
                            <td [nzIndentSize]="item.level! * 20" [nzShowExpand]="!!item.children"
                                [(nzExpand)]="item.expand"
                                (nzExpandChange)="collapse(metaExpandedData[data.key], item, $event)" nzLeft nzEllipsis
                                nzEllipsisRows="1">
                                {{ item.name }}
                            </td>
                            <td nzEllipsis nzEllipsisRows="1">{{ item.objective }}</td>
                            <td>{{ item.spend | thousandSeparator }}</td>
                            <td>{{ item.spend | thousandSeparator }}</td>
                            <td>{{ item.impressions | thousandSeparator }}</td>
                            <td>{{ item.cpc | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td>{{ item.ctr | thousandSeparator }}</td>
                            <td>{{ item.spend | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td nzRight>{{ item.spend | thousandSeparator }}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </nz-table>

        <ng-template #facebookSummaryFooter>
            <span class="d-flex justify-content-end">
                Tổng cộng:
                <b class="ms-2 me-1 text-success">{{ totalMetaAdsSpend | thousandSeparator }}</b>
            </span>
        </ng-template>

        <h5 nz-typography class="mt-5 d-flex align-items-center mb-3">
            <span nz-icon nzType="instagram" nzTheme="fill" class="me-2"></span>
            Instagram
        </h5>
        <nz-table #instagramTable nzBordered [nzFooter]="instagramSummaryFooter" [nzData]="instaMapData"
            [nzShowPagination]="false" [nzScroll]="{ x: '1150px', y: '240px' }">
            <thead>
                <tr>
                    <th nzLeft nzWidth="300px">Campaign</th>
                    <th nzWidth="120px">Mục tiêu</th>
                    <th nzWidth="120px">Ngân sách</th>
                    <th nzWidth="120px">Tin nhắn</th>
                    <th nzWidth="120px">Chi phí mỗi tin nhắn</th>
                    <th nzWidth="120px">Lượt hiển thị</th>
                    <th nzWidth="120px">CPM</th>
                    <th nzWidth="120px">CTR</th>
                    <th nzWidth="120px">CPC</th>
                    <th nzWidth="120px">Tần suất</th>
                    <th nzWidth="120px">Lượt mua</th>
                    <th nzWidth="120px">2 lượt nhắn tin qua lại</th>
                    <th nzWidth="120px">3 lượt nhắn tin qua lại</th>
                    <th nzWidth="120px">5 lượt nhắn tin qua lại</th>
                    <th nzWidth="120px">Chi phí trên mỗi lượt mua</th>
                    <th nzRight nzWidth="120px">Đã chi tiêu</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of instagramTable.data">
                    <ng-container *ngFor="let item of instaExpandedData[data.key]">
                        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
                            <td [nzIndentSize]="item.level! * 20" [nzShowExpand]="!!item.children"
                                [(nzExpand)]="item.expand"
                                (nzExpandChange)="collapse(instaExpandedData[data.key], item, $event)" nzLeft nzEllipsis
                                nzEllipsisRows="1">
                                {{ item.name }}
                            </td>
                            <td nzEllipsis nzEllipsisRows="1">{{ item.objective }}</td>
                            <td>{{ item.spend | thousandSeparator }}</td>
                            <td>{{ item.spend | thousandSeparator }}</td>
                            <td>{{ item.impressions | thousandSeparator }}</td>
                            <td>{{ item.cpc | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td>{{ item.ctr | thousandSeparator }}</td>
                            <td>{{ item.spend | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td>{{ item.reach | thousandSeparator }}</td>
                            <td nzRight>{{ item.spend | thousandSeparator }}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </nz-table>

        <ng-template #instagramSummaryFooter>
            <span class="d-flex justify-content-end">
                Tổng cộng:
                <b class="ms-2 me-1 text-success">{{ totalInstagramAdsSpend | thousandSeparator }}</b>
            </span>
        </ng-template>
    </nz-card>
    <ng-template #dateTemplate>
        <nz-space>
            <nz-range-picker *nzSpaceItem nzMode="date" [nzPlaceHolder]="['Ngày bắt đầu', 'Ngày kết thúc']"
                [nzRanges]="ranges" [(ngModel)]="selectedRange" (ngModelChange)="onChange($event)">
            </nz-range-picker>
        </nz-space>
    </ng-template>
</nz-layout>