.layout {
    min-height: 100vh;
}

nz-header {
    position: fixed;
    width: 100%;
}

nz-content {
    margin-top: 64px;
}

.inner-content {
    background: #fff;
    min-height: 380px;
}

nz-footer {
    text-align: center;
}