/* // CSS for backtotop button */
:host ::ng-deep .ant-back-top {
    bottom: 100px;
}

:host ::ng-deep .ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 20px;
}

::ng-deep .ant-layout-content {
    z-index: 1 !important;
}