<div class="app-container">
  <nz-header class="app-header">
    <app-header></app-header>
  </nz-header>
  <nz-content class="app-content">
    <div class="app-content-inner">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer class="app-footer">
    <app-footer></app-footer>
  </nz-footer>
</div>
<nz-back-top [nzTemplate]="tpl">
  <ng-template #tpl>
    <div class="ant-back-top-inner d-flex align-items-center justify-content-center border border-dark">
      <span nz-icon nzType="arrow-up" nzTheme="outline"></span>
    </div>
  </ng-template>
</nz-back-top>