<nz-layout class="layout tw-min-h-screen">
  <nz-header class="tw-w-full tw-fixed tw-px-0 bg-second z-3 tw-h-[5.8vh] tw-border-b tw-border-black">
    <app-header></app-header>
  </nz-header>
  <nz-content class="px-0 z-0 bg-app border border-danger">
    <div class="container-md p-0 mt-md-0">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer class="bg-black text-white p-0">
    <app-footer></app-footer>
  </nz-footer>
</nz-layout>
<nz-back-top [nzTemplate]="tpl">
  <ng-template #tpl>
    <div class="ant-back-top-inner d-flex align-items-center justify-content-center border border-dark">
      <span nz-icon nzType="arrow-up" nzTheme="outline"></span>
    </div>
  </ng-template>
</nz-back-top>