<div>
  <tabset>
    <tab heading="MÔ TẢ" id="tab1">
      <p class="my-3">
        Dòng Sơ Mi mang chất liệu BAMBOO vô cùng tối ưu cùng kiểu dáng Henley - gọn gàng, tinh giản. Sở hữu nhiều ưu điểm ấn tượng phải kể đến đầu tiên chính là chất vải mát lạnh, điều hoà thân nhiệt, thông thoáng khí. Tiếp đến là ưu điểm "Không nhăn, hạn chế tốt các vấn đề co rút" - chắc chắn sẽ rất cần cho ae, vì nó giúp ae giải quyết phần lớn thời gian mỗi sáng. Bề mặt vải mềm mịn, nhẹ và thân thiện với môi trường, thiết kế chuẩn gu Basic, tinh tế với 2 gam màu Đen & Trắng, phù hợp với hầu hết mọi mục đích sử dụng chính là những điểm sáng còn lại của items.
        Form Relaxed rộng rãi thoải mái.
        SMID0084//Áo Sơmi ICONDENIM Henley Collar Bamboo SS22.
      </p>
    </tab>
    <tab heading="CHÍNH SÁCH GIAO HÀNG">Basic content 1</tab>
    <tab heading="CHÍNH SÁCH ĐỔI TRẢ">Basic content 2</tab>
  </tabset>
</div>
