[nz-carousel-content] {
    text-align: center;
    height: 100%;
    line-height: normal;
    color: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

[nz-carousel-content] picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

[nz-carousel-content] img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Fill toàn bộ container */
    object-position: center;
    /* Căn giữa ảnh */
    image-rendering: -webkit-optimize-contrast;
    /* Tối ưu chất lượng ảnh */
    image-rendering: crisp-edges;
    /* Giữ độ sắc nét */
}

/* Responsive Design */
@media (max-width: 640px) {
    [nz-carousel-content] {
        min-height: 200px;
    }
}

@media (min-width: 641px) and (max-width: 1024px) {
    [nz-carousel-content] {
        min-height: 300px;
    }
}

@media (min-width: 1025px) {
    [nz-carousel-content] {
        min-height: 400px;
    }
}

/* Đảm bảo carousel container có chiều cao cố định */
::ng-deep .ant-carousel {
    height: 100%;
    width: 100%;
}

::ng-deep .ant-carousel .slick-slider {
    height: 100%;
    width: 100%;
}

::ng-deep .ant-carousel .slick-list {
    height: 100%;
    width: 100%;
}

::ng-deep .ant-carousel .slick-track {
    height: 100%;
    width: 100%;
}

::ng-deep .ant-carousel .slick-slide {
    height: 100%;
    width: 100%;
}

h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
}

