<div class="article w-100 pb-5">
  <div class="section-start">
    <div class="section-img">
      <div id="fs-section-start-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#fs-section-start-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#fs-section-start-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#fs-section-start-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/homeimg/IMG_2436_ngang.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/homeimg/IMG_2436_ngang.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/homeimg/IMG_2436_ngang.jpg" class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#fs-section-start-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#fs-section-start-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div id="mb-section-start-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#mb-section-start-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#mb-section-start-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#mb-section-start-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/homeimg/IMG_2436_test.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/homeimg/IMG_2436_test.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/homeimg/IMG_2436_test.jpg" class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mb-section-start-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mb-section-start-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="section-title">NEW ARRIVALS</div>
    <div class="section-start-explore-btn">
      <button class="explore-btn p-3">EXPLORE THE COLLECTION</button>
    </div>
  </div>

  <div class="section-img-only">
    <div class="first-img">
      <img class="w-100" src="../../../../assets/homeimg/IMG_2436.jpg">
      <span class="section-img-text text-center">GUCCI ACE</span>
      <button class="section-img-btn explore-btn">Explore the collection</button>
    </div>

    <div class="second-img">
      <img class="w-100" src="../../../../assets/homeimg/IMG_2436.jpg">
      <span class="section-img-text text-center">GUCCI ACE</span>
      <button class="section-img-btn explore-btn">Explore the collection</button>
    </div>
  </div>

  <div class="section-collections mb-5 pb-3">
    <div class="section-title text-center mb-4">COLLECTIONS</div>

    <div class="collections">
      <div class="collection-item">
        <div class="card mb-3">
          <img src="../../../../assets/homeimg/IMG_2724.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="text-center">Áo</h5>
          </div>
        </div>
      </div>

      <div class="collection-item">
        <div class="card mb-3">
          <img src="../../../../assets/homeimg/IMG_2717.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="text-center">Quần</h5>
          </div>
        </div>
      </div>

      <div class="collection-item">
        <div class="card mb-3">
          <img src="../../../../assets/homeimg/IMG_2436_square.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="text-center">Váy / Chân váy</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

