/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss";

:root {
  --fs-container-margin: 150px;
  --black-color: #212529;
  --secondary-black-color: #363333;
  --white-color: #ffffff;
  --secondary-white-color: #F1F1F1;
  --mobile-header-height: 8vh;
  --non-mobile-header-height: 10vh;
}

/* CSS for carousel next and prev buttons */
.swiper-button-next, .swiper-button-prev {
  color: white !important;
  background: black !important;
  border-radius: 100% !important;
  opacity: 50% !important;
}

.swiper-button-disabled {
  background-color: #f1f1f1 !important;
  color: rgb(167, 168, 167) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--black-color) !important;
}

@media screen and (max-width: 768px) {
  .swiper-button-prev, .swiper-button-next {
    width: 30px !important;
    height: 30px !important;
    top: 40% !important;
  }
  
  .swiper-button-prev::after, .swiper-button-next::after {
    font-size: 12px !important;
  }
}
