<div class="chart-container p-2">
  <div>
    <h5 class="m-0 mb-2" nz-typography>NGUỒN ĐƠN</h5>
  </div>
  <nz-table #basicTable [nzData]="listTempData" [nzFrontPagination]="false">
    <thead>
      <tr>
        <th>Nguồn đơn</th>
        <th>Doanh thu</th>
        <th>Lợi nhuận</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <span nz-icon nzType="instagram" nzTheme="fill" class="me-2"></span>
            Instagram
          </div>
        </td>
        <td>{{ revenueSummary.instagramRevenue }}</td>
        <td>{{ revenueSummary.instagramRevenue * 0.2 }}</td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <span nz-icon nzType="facebook" nzTheme="fill" class="me-2"></span>
            Facebook
          </div>
        </td>
        <td>{{ revenueSummary.facebookRevenue | thousandSeparator }}</td>
        <td>{{ revenueSummary.facebookRevenue * 0.2 | thousandSeparator }}</td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <span nz-icon nzType="global" nzTheme="outline" class="me-2"></span>
            Website
          </div>
        </td>
        <td>{{ revenueSummary.websiteRevenue | thousandSeparator }}</td>
        <td>{{ revenueSummary.websiteRevenue * 0.2 | thousandSeparator }}</td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <span nz-icon nzType="fund-projection-screen" nzTheme="outline" class="me-2"></span>
            Sàn TMĐT
          </div>
        </td>
        <td>{{ revenueSummary.shopeeRevenue | thousandSeparator }}</td>
        <td>{{ revenueSummary.shopeeRevenue * 0.2 | thousandSeparator }}</td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <span nz-icon nzType="home" nzTheme="fill" class="me-2"></span>
            Trực tiếp
          </div>
        </td>
        <td>{{ revenueSummary.offlineRevenue | thousandSeparator }}</td>
        <td>{{ revenueSummary.offlineRevenue * 0.2 | thousandSeparator }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
