/* You can add global styles to this file, and also import other style files */
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
  --swiper-navigation-size: 25px;
}
