/* You can add global styles to this file, and also import other style files */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-navigation-color: black;
  --swiper-pagination-color: black;
  --swiper-navigation-size: 25px; 
  --background-color: #fefef4;
  --primary-color: #fefef4;
  --secondary-color: #FCF9EA;
}

body {
  -webkit-font-smoothing: antialiased;
}

/* Primary color utilities */
.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

.border-primary {
  border-color: var(--primary-color);
}

/* Background utilities */
.bg-app {
  background-color: var(--background-color);
}

.bg-second {
  background-color: var(--secondary-color);
}