<form [formGroup]="addForm">
    <div class="modal-body">
        <div class="d-flex align-items-center justify-content-center">
            <nz-avatar [nzSize]="80" nzIcon="user" class="d-flex align-items-center justify-content-center"></nz-avatar>
        </div>

        <div class="mt-3">
            <label class="mb-1 mt-0">Họ:</label>
            <input nz-input placeholder="Vui lòng nhập Họ" type="text" id="surname" formControlName="surname"/>
        </div>

        <div class="mt-3">
            <label class="mb-1 mt-0">Tên:</label>
            <input nz-input placeholder="Vui lòng nhập Tên" type="text" id="name" formControlName="name"/>
        </div>

        <div class="mt-3">
            <label class="mb-1 mt-0">Tên đăng nhập:</label>
            <input nz-input placeholder="Vui lòng nhập Tên đăng nhập" type="text" id="username" formControlName="username"/>
        </div>

        <div class="mt-3">
            <label class="mb-1 mt-0">Email:</label>
            <input nz-input placeholder="Vui lòng nhập Email" type="email" id="email" formControlName="email"/>
        </div>

        <div class="mt-3">
            <label class="mb-1 mt-0">Số điện thoại:</label>
            <input nz-input placeholder="Vui lòng nhập Số điện thoại" type="text" id="phoneNumber" formControlName="phoneNumber"/>
        </div>

        <div class="mt-3">
            <label class="mb-1 mt-0">Mật khẩu:</label>
            <input nz-input placeholder="Vui lòng nhập Mật khẩu" type="password" id="password" formControlName="password"/>
        </div>

        <div class="mt-3">
            <label class="mb-1 mt-0">Xác nhận lại mật khẩu:</label>
            <input nz-input placeholder="Vui lòng nhập Mật khẩu" type="password" id="confirmPassword" formControlName="confirmPassword"/>
        </div>
    </div>
    <div *nzModalFooter>
        <button [disabled]="!addForm.valid" nz-button nzType="primary" type="submit" (click)="onSubmit()"
            [nzLoading]="isSubmitting">
            Lưu
        </button>
    </div>
</form>