<nz-collapse nzExpandIconPosition="right" class="bg-app">
    <nz-collapse-panel nzHeader="Description" nzActive="true" nzShowArrow="false" [nzExtra]="extraTpl" class="pe-0 bg-app">
        <p style="margin: 0;">
            {{ description }}
        </p>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="Shipping Policy" nzActive="false" nzShowArrow="false"[nzExtra]="extraTpl" class="bg-app">
        <p style="margin: 0;">
            Updating ...
        </p>
    </nz-collapse-panel>

    <nz-collapse-panel nzHeader="Return Policy" nzActive="false" nzShowArrow="false"[nzExtra]="extraTpl" class="bg-app">
        <p style="margin: 0;">
            Updating ...
        </p>
    </nz-collapse-panel>
</nz-collapse>

<ng-template #extraTpl>
    <!-- You can use stopPropagation if you don't want the panel to toggle -->
    <span nz-icon nzType="plus" (click)="$event.stopPropagation()"></span>
</ng-template>