<!-- Header for mobile display -->
<div class="d-flex flex-row justify-content-between align-items-center h-100 d-block container-sm" nz-row>
  <div nz-col nzSpan="5" class="d-flex align-items-center h-100 fs-4 ps-3 d-lg-none" (click)="collapseMenuForm()"
    [attr.aria-expanded]="!isMenuCollapsed" aria-controls="collapseBasic">
    <span nz-icon nzType="menu" nzTheme="outline"></span>
  </div>

  <!-- Logo Section -->
  <div class="logo h-100 d-flex align-items-center justify-content-center" nz-col [nzXs]="14"
    [nzSm]="6"><a class="text-decoration-none fs-3 text-black tw-text-3xl" (click)="redirectToHomePage()">MARKI</a>
  </div>

  <!-- Search bar -->
  <div class="d-none d-lg-block h-100 align-items-center justify-content-center" nz-col [nzSm]="12">
    <nz-input-group [nzSuffix]="suffixIconSearch" nzSize="large">
      <input type="text" nz-input placeholder="Bạn đang tìm gì..." />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>

  <!-- Header Utilities -->
  <div class="h-100 d-none d-lg-flex align-items-center justify-content-end py-1" nz-col [nzSm]="6">
    <div class="d-flex flex-column h-100 mx-1">
      <div class="d-flex align-items-center justify-content-center tw-h-3/5 py-1">
        <span nz-icon nzType="environment" nzTheme="outline" class="fs-5"></span>
      </div>
      <div class="d-flex align-items-center justify-content-center tw-h-2/5 tw-text-sm tw-font-medium tw-antialiased">
        Cửa hàng
      </div>
    </div>

    <div class="d-flex flex-column h-100 mx-xl-3 mx-lg-2">
      <div class="d-flex align-items-center justify-content-center tw-h-3/5 py-1">
        <span nz-icon nzType="user" nzTheme="outline" class="fs-5"></span>
      </div>
      <div class="d-flex align-items-center justify-content-center tw-h-2/5 tw-text-sm tw-font-medium tw-antialiased">
        Đăng nhập
      </div>
    </div>

    <div class="d-flex flex-column h-100 mx-1">
      <div class="d-flex align-items-center justify-content-center tw-h-3/5 py-1">
        <span nz-icon nzType="shopping-cart" nzTheme="outline" class="fs-5"></span>
      </div>
      <div class="d-flex align-items-center justify-content-center tw-h-2/5 tw-text-sm tw-font-medium tw-antialiased">
        Giỏ hàng
      </div>
    </div>
  </div>

  <div nz-col nzSpan="5" class="d-flex align-items-center justify-content-end h-100 pe-3 d-lg-none"
    [attr.aria-expanded]="!isCartCollapsed" aria-controls="collapseBasic">
    <nz-badge *ngIf="basketService.basketSource$ | async as basket; else nullBasket" [nzCount]="getCount(basket.items)"
      class="fs-5 me-3" [nzStyle]="{ backgroundColor: '#000' }" (click)="collapseCartForm()">
      <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
    </nz-badge>
    <ng-template #nullBasket>
      <nz-badge [nzCount]="0" class="fs-5 me-3" [nzStyle]="{ backgroundColor: '#000' }" (click)="collapseCartForm()">
        <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
      </nz-badge>
    </ng-template>

    <span class="fs-5" nz-icon nzType="user" nzTheme="outline" (click)="collapseLoginRegisterForm()"
      [attr.aria-expanded]="!isLoginCollapsed"></span>
  </div>

  <!-- Menu items -->
  <div [collapse]="isMenuCollapsed" [isAnimated]="true" class="w-100">
    <div class="bg-white d-flex justify-content-center border">Hàng mới về</div>
    <div class="bg-white d-flex justify-content-center border-bottom border-start border-end">Áo</div>
    <div class="bg-white d-flex justify-content-center border-bottom border-start border-end">Quần</div>
    <div class="bg-white d-flex justify-content-center border-bottom border-start border-end">Váy / Chân váy</div>
  </div>

  <!-- Login / Register -->
  <div id="collapseLoginRegister" [isAnimated]="true" [collapse]="isLoginCollapsed"
    class="w-100 border-bottom border-top bg-light py-3 px-3">
    <p class="fs-6 d-flex justify-content-center m-0">ĐĂNG NHẬP TÀI KHOẢN</p>
    <p class="d-flex justify-content-center m-0">Nhập email và mật khẩu của bạn</p>
    <input type="text" class="form-control form-control-sm mt-2 rounded-0" id="exampleFormControlInput1"
      placeholder="Nhập email hoặc số điện thoại">
    <input type="text" class="form-control form-control-sm mt-1 rounded-0" id="exampleFormControlInput1"
      placeholder="Mật khẩu">
    <button type="button" class="w-100 btn text-bg-dark rounded-0">Đăng nhập</button>
    <p class="m-0">Khách hàng mới? <a href="#" class="text-reset fw-bold">Tạo tài khoản</a></p>
    <p class="m-0">Quên mật khẩu? <a href="#" class="text-reset fw-bold">Khôi phục mật khẩu</a></p>
  </div>

  <div [collapse]="isCartCollapsed" class="bg-light w-100">
    <app-cart-dropdown (onNavigate)="onNavigate()" [basketItems]="basketItems"></app-cart-dropdown>
  </div>
</div>