<div class="tw-h-full tw-flex tw-flex-row">
  <!-- Collapse menu icon -->
  <div class="tw-basis-1/3 tw-flex tw-items-center tw-ps-8 tw-h-full lg:tw-hidden tw-z-10" (click)="collapseMenuForm()"
    [attr.aria-expanded]="!isMenuCollapsed" aria-controls="collapseBasic">
    <span nz-icon nzType="menu" nzTheme="outline"></span>
  </div>

  <!-- Logo -->
  <div class="tw-basis-1/3 lg:tw-basis-1/5 tw-flex tw-items-center tw-justify-center lg:tw-justify-start lg:tw-ps-8">
    <a class="tw-font-bold tw-text-base tw-antialiased tw-tracking-wide tw-cursor-pointer hover:tw-text-black" routerLink="/">MARKI</a>
  </div>

  <!-- Desktop Menu items -->
  <div class="tw-hidden lg:tw-basis-3/5 lg:tw-flex tw-items-center tw-justify-center">
    <span class="tw-cursor-pointer tw-px-6 tw-text-[11px] tw-underline-offset-4 hover:tw-underline" routerLink="/all"
      routerLinkActive="tw-underline tw-font-semibold">
      ALL
    </span>
    <span class="tw-cursor-pointer tw-px-6 tw-text-[11px] tw-underline-offset-4 hover:tw-underline" routerLink="/tops"
      routerLinkActive="tw-underline tw-font-semibold">
      TOPS
    </span>
    <span class="tw-cursor-pointer tw-px-6 tw-text-[11px] tw-underline-offset-4 hover:tw-underline"
      routerLink="/bottoms" routerLinkActive="tw-underline tw-font-semibold">
      BOTTOMS
    </span>
    <span class="tw-cursor-pointer tw-px-6 tw-text-[11px] tw-underline-offset-4 hover:tw-underline"
      routerLink="/dresses" routerLinkActive="tw-underline tw-font-semibold">
      DRESSES
    </span>
  </div>

  <!-- Header Utilities -->
  <div class="tw-basis-1/3 lg:tw-basis-1/5 tw-flex tw-items-center tw-justify-end tw-pe-8 lg:tw-pe-8">
    
    <span
      class="tw-text-[13px] lg:tw-flex tw-items-center tw-justify-end lg:tw-text-[11px] tw-cursor-pointer tw-me-4 tw-underline-offset-4 hover:tw-underline tw-cursor-pointer" routerLink="/search">
      <span class="tw-hidden md:tw-flex tw-me-1">SEARCH</span>
    </span>
    <span class="tw-text-[13px] lg:tw-flex tw-items-center tw-justify-end w-full lg:tw-text-[11px] tw-cursor-pointer"
      routerLink="/basket">
      <span class="tw-hidden md:tw-flex tw-me-1">CART</span>
      <span class="tw-hidden md:tw-flex tw-me-1">({{ getCount((basketService.basketSource$ | async)?.items || [])
        }})</span>
    </span>
  </div>

  <!-- Mobile Menu items -->
  <div [collapse]="isMenuCollapsed" [isAnimated]="true"
    class="bg-app tw-w-full tw-h-[92vh] tw-top-[8vh] tw-absolute tw-flex tw-flex-col tw-content-center tw-justify-center tw-left-0 lg:tw-hidden tw-gap-4">
    <div class="d-flex justify-content-center tw-font-normal">
      <span class="tw-text-[15px] tw-cursor-pointer" routerLink="/new-arrivals" (click)="collapseMenuForm()">NEW
        ARRIVALS</span>
    </div>
    <div class="d-flex justify-content-center tw-font-normal">
      <span class="tw-text-[15px]" routerLink="/all" (click)="collapseMenuForm()">ALL</span>
    </div>
    <div class="d-flex justify-content-center tw-font-normal">
      <span class="tw-text-[15px]" routerLink="/tops" (click)="collapseMenuForm()">TOPS</span>
    </div>
    <div class="d-flex justify-content-center tw-font-normal">
      <span class="tw-text-[15px]" routerLink="/bottoms" (click)="collapseMenuForm()">BOTTOMS</span>
    </div>
    <div class="d-flex justify-content-center tw-font-normal">
      <span class="tw-text-[15px]" routerLink="/dresses" (click)="collapseMenuForm()">DRESSES</span>
    </div>
    <div class="d-flex justify-content-center tw-font-normal">
      <span class="tw-text-[15px]" routerLink="/outerwear" (click)="collapseMenuForm()">OUTERWEAR</span>
    </div>
  </div>
</div>