<div *ngIf="product" class="tw-grid tw-grid-cols-1 tw-gap-4 tw-bg-neutral-50 tw-p-3 lg:tw-p-5">
  <p class="tw-text-2xl lg:tw-text-3xl tw-font-medium tw-antialiased">{{ product.name }}</p>

  <div class="tw-flex tw-flex-col tw-gap-2">
    <p class="lh-sm">SKU: {{ product.productSKU }}   |   Danh mục: {{ product.productSKU }}</p>
    <p class="fs-6 fw-semibold lh-sm">100.000 đ</p>
  </div>

  <div *ngFor="let option of product.productOptions" class="mt-2">
    <div class="mb-1 fw-semibold">{{ option.optionName }}:</div>
    <button *ngFor="let value of option.productOptionValues"
      nz-button
      nzType="default"
      class="tw-mr-2"
      (click)="onSelectOption(option.id, value.id)"
      [ngClass]="{ 'selected': selectedOptions[option.id] === value.id }"
      [class.selected]="selectedOptions[option.id] === value.id">
        {{ value.valueName }}
    </button>
  </div>

  <div class="mt-2 tw-flex tw-flex-row tw-gap-3">
    <!-- <div class="mb-1 fw-semibold">Số lượng:</div> -->
    <nz-button-group class="border tw-flex tw-items-center">
      <button nz-button nzType="text" (click)="decreaseQuantity()"><span nz-icon nzType="minus" nzTheme="outline"></span></button>
      <button nz-button nzType="text"><span class="fw-semibold">{{ quantity }}</span></button>
      <button nz-button nzType="text" (click)="increaseQuantity()"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
    </nz-button-group>

    <button class="tw-hidden tw-flex-1 md:tw-block hover:tw-border hover:tw-border-neutral-950 tw-bg-zinc-900 tw-text-white tw-rounded-sm tw-p-3 tw-basis-60 tw-font-semibold tw-text-xs hover:tw-bg-white hover:tw-text-zinc-900">
      THÊM VÀO GIỎ
    </button>

    <button class="tw-border tw-flex-1 tw-border-neutral-950 tw-rounded-sm tw-p-2 tw-basis-60 tw-font-semibold tw-text-xs hover:tw-bg-zinc-900 hover:tw-text-white">
      MUA NGAY
    </button>
  </div>
</div>
