.article {
    height: 93vh;
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    width: 16%;
    height: 100%;
    background-color: #fefefe;
  }
  
  .content {
    width: 84%;
    min-height: 200px;
  }
  