.trigger {
  font-size: 15px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  color: #fff;
  font-size: 1.2rem;
}

nz-content {
  overflow: auto;
}

nz-header {
  background: #fff;
  padding: 0;
}

nz-footer {
  text-align: center;
}
