<nz-layout class="border h-100">
  <nz-content class="h-100 border-bottom" #content>
    <nz-table *ngIf="orders.length > 0" nzBordered #rowSelectionTable nzShowPagination="false"
      [nzFrontPagination]="false" [nzScroll]="{ x: '1200px', y: '725px' }" [nzData]="orders"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzLoading]="loading" nzSize="small">
      <thead>
        <tr>
          <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" nzLabel="Select all"
            (nzCheckedChange)="onAllChecked($event)" nzWidth="40px" nzLeft></th>
          <th rowSpan="1" nzWidth="60px" nzLeft>Id</th>
          <th nzWidth="80px">VC</th>
          <th nzWidth="140px">Thẻ</th>
          <th nzWidth="120px">Khách hàng</th>
          <th nzWidth="120px">SĐT</th>
          <th nzWidth="300px">Địa chỉ</th>
          <th nzWidth="200px">Tạo lúc</th>
          <th nzWidth="150px">Tổng tiền</th>
          <th nzRight nzWidth="200px">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td [nzChecked]="setOfCheckedId.has(order.id)" (nzCheckedChange)="onItemChecked(order.id, $event)" nzLeft>
          </td>
          <td nzLeft>{{ order.id }}</td>
          <td>
            <nz-tag [nzColor]="'#016D75'" nz-tooltip nzTooltipTitle="Click để copy mã vận chuyển">VTP</nz-tag>
          </td>
          <td>
            <!-- <nz-tag [nzColor]="'gold'">Chưa đối soát</nz-tag> -->
          </td>
          <td (click)="onEditOrder(order)">{{ order.customer.name }}</td>
          <td (click)="onEditOrder(order)">{{ order.customer.phoneNumber }}</td>
          <td (click)="onEditOrder(order)">{{ order.address }}</td>
          <td (click)="onEditOrder(order)">{{ order.dateCreated | date:'hh:mm dd/MM/YYYY' }}</td>
          <td (click)="onEditOrder(order)">{{ order.total | thousandSeparator }}</td>
          <td nzRight>
            <div class="order-status-dropdown w-100">
              <nz-select class="w-100" nzAllowClear [(ngModel)]="order.orderStatus.id"
                (ngModelChange)="changeStatus($event, order.id)">
                <nz-option *ngFor="let status of orderStatuses" [nzLabel]="status.status"
                  [nzValue]="status.id"></nz-option>
              </nz-select>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>

  <nz-footer class="d-flex align-items-center justify-content-between px-2">
    <div class="order-info">
      <span>COD: <b>1.356.889.221</b></span>
      <span class="ms-2">Trả trước: <b>1.122.002.881</b></span>
      <span class="ms-2">Cước VC: <b>63.022.392</b></span>
    </div>
    <div class="d-flex align-items-center justify-content-end">
      <nz-pagination [(nzPageIndex)]="current" [nzTotal]="totalItems" [nzSize]="'small'" nzShowSizeChanger
        (nzPageIndexChange)="onPageChange($event)" [nzPageSize]="orderParams.pageSize"
        (nzPageSizeChange)="onPageSizeChange($event)">
      </nz-pagination>
    </div>
  </nz-footer>
</nz-layout>
