<div class="footer w-100">
  <div class="sign-up ps-3 pe-3 mb-5">
    <div class="title pt-5 pb-3">SIGN UP FOR MARKI UPDATES</div>
    <div class="desc pb-3">
      By entering your email address below, you consent to receiving our
      newsletter with access to out latest collections, events and initiative.
      More details on this are provided in our Privacy Policy
    </div>
    <div class="email-input border-bottom border-secondary">
      <div class="input-group mb-1">
        <input
          type="text"
          class="form-control ps-0"
          placeholder="Email"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-secondary"
          type="button"
          id="button-addon2"
        >
          <i class="fa fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="details mt-5 ps-3 pe-3 mb-5">
    <!-- Accordion -->
    <div class="accordion accordion-flush" id="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button ps-0 pe-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            MAY WE HELP YOU?
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body ps-0 pe-0">
            <div class="help-item mb-3"><a href="#">Contact us</a></div>
            <div class="help-item mb-3"><a href="#">My order</a></div>
            <div class="help-item mb-3"><a href="#">FAQs</a></div>
            <div class="help-item"><a href="#">Sitemap</a></div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ps-0 pe-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            ABOUT US
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body ps-0 pe-0">
            <div class="help-item mb-3"><a href="#">About Marki</a></div>
            <div class="help-item mb-3"><a href="#">Careers</a></div>
            <div class="help-item mb-3">
              <a href="#">Privacy & Cookie Policy</a>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed ps-0 pe-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            OUR SERVICES
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          data-bs-parent="#accordion"
        >
          <div class="accordion-body ps-0 pe-0">
            <div class="help-item mb-3"><a href="#">Discover our services</a></div>
            <div class="help-item mb-3"><a href="#">Collect In-Store</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="marki-social ps-3 pe-3">
    <div class="m-0 pb-2">
      <p class="connect-text">Connect with us</p>
      <div class="icons d-flex flex-row align-items-center">
        <a class="social-icon" href="https://www.facebook.com/markivietnam" target="_blank"><i class="fa fa-brands fa-facebook"></i></a>
        <a class="ms-3 social-icon" href="https://www.instagram.com/marki.bymarkilus" target="_blank"><i class="fa fa-brands fa-instagram"></i></a>
        <a class="ms-3 pb-1 social-icon" href="https://shopee.vn/SA-290543357" target="_blank">
          <img src="../../../../assets/homeimg/Shopee-Icon-Vector-01.png" style="width: 16px;">
        </a>
      </div>
    </div>
  </div>
</div>
