.footer {
  background-color: #000000;
  color: #FEFEFE;
}

.title, .desc, .connect-text {
  font-family: 'Raleway', sans-serif;
}

.title, .connect-text {
  color: #808080;
  font-size: .8rem;
  font-weight: 800;
}

.desc {
  color: #fefefe;
  font-size: .8rem;
}

.input-group>input,button {
  border: none;
  border-radius: 0;
  background-color: #000000;
  color: #fefefe;
  font-weight: 400;
}

.form-control:focus {
  box-shadow: none;
  border: none;
  color: #fefefe;
}

.form-control::placeholder {
  color: #a1a1a1;
}

.accordion {
	--bs-accordion-bg: #000000;
  --bs-accordion-border-color: #000000;
  font-family: 'Raleway', sans-serif;
}

.accordion-button {
  background-color: #000000;
  color: #FEFEFE;
  font-weight: 600;
  font-size: .9rem;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:focus {
  box-shadow: none;
}

.help-item>a {
  color: #fefefe;
  text-decoration: none;
  text-decoration: underline;
}

.accordion-body, .accordion-collapse {
  font-size: .8rem;
  font-weight: 500;
  color: #fefefe;
}

.social-icon {
  color: white;
}

@media screen and (min-width: 1025px) {
  .footer {
    padding: 0 var(--fs-container-margin);
  }
}
