<div [formGroup]="receiverInfoForm">
    <p class="fs-6 fw-semibold">Nhận hàng</p>

    <div nz-row>
        <div nz-col nzSpan="12" class="pe-1">
            <input nz-input placeholder="Tên người nhận" formControlName="receiverName" type="text" class="input-bg"
                nzBorderless />
        </div>
        <div nz-col nzSpan="12" class="ps-1">
            <input nz-input placeholder="Số điện thoại" formControlName="receiverPhoneNumber" class="input-bg" type="text"
                nzBorderless />
        </div>
    </div>
    
    <div nz-row class="mt-2">
        <input class="w-100" nz-input placeholder="Địa chỉ" formControlName="receiverAddress" type="text" class="input-bg"
            nzBorderless />
    </div>
    
    <div nz-row class="mt-2">
        <div nz-col nzSpan="8" class="pe-1">
            <input nz-input placeholder="Tỉnh thành phố" formControlName="provinceId" type="text" class="input-bg"
                nzBorderless />
        </div>
        <div nz-col nzSpan="8" class="ps-1">
            <input nz-input placeholder="Quận huyện" formControlName="districtId" type="text" class="input-bg"
                nzBorderless />
        </div>
        <div nz-col nzSpan="8" class="ps-1">
            <input nz-input placeholder="Phường xã" formControlName="wardId" type="text" class="input-bg"
                nzBorderless />
        </div>
    </div>
</div>
