nz-header {
  height: 3rem;
}

nz-layout {
  height: 100%;
}

nz-content {
  overflow: auto;
}

nz-header, nz-layout, nz-content {
  background-color: #ebecef;
}

.product-weight, .product-price {
  color: #0f53a4;
}

.selected-product-list, .total-info {
  background-color: #ebecef;
}

.input-bg {
  background-color: #f3f4f8 !important;
}