<nz-layout class="">
  <nz-header class="d-flex align-items-center px-2">
    <button nz-button nzType="default" nz-value="large" class="d-flex align-items-center">
      Đơn mới
    </button>
  </nz-header>

  <nz-content>
    <app-order-information></app-order-information>
  </nz-content>

  <nz-footer class="border p-2 d-flex flex-row-reverse px-3">
    <button nz-button nzType="primary" nzSize="large" class="d-flex align-items-center">
      <span nz-icon nzType="save"></span>
      Lưu
    </button>
  </nz-footer>
</nz-layout>
