@media screen and (max-width: 768px) {
    .container {
        margin-top: 5vh;
        min-height: 40vh;
    }

    .order-short-info, .order-items {
        background-color: var(--secondary-white-color);
    }

    .display-order-button>span {
        font-size: .95rem;
    }

    .display-order-button>i {
        font-size: .7rem;
    }

    .item {
        position: relative;
    }

    .item>div>img {
        width: 4rem;
        height: 4rem;
    }

    .item>h6, .pre-cal-title, input, .input-group-text, select {
        font-size: .85rem;
    }

    .item-no {
        position: absolute;
        top: .5rem;
        left: 4.3rem;
        width: 1.4rem;
        height: 1.4rem;
        background-color: var(--black-color);
        color: var(--white-color);
        border-radius: 50%;
        font-size: .6rem;
    }

    .item-description>span {
        font-size: .8rem;
    }

    .shipping-details>span {
        font-size: .8rem;
        color: rgb(120, 120, 120);
    }

    .cod-img {
        width: 2rem;
        height: 2rem;
    }
}