.bg-white {
  background-color: #ffffff;
}

.product-weight, .product-price {
  color: #0f53a4;
}

.selected-product-list, .total-info {
  background-color: #ebecef;
}

hr.dashed {
  border-top: 1px dashed #bbb;
}
