<div nz-row class="border border-primary">
  <div class="border p-2" nz-col nzSpan="15">
    <div class="product-section p-3">
      <p class="fs-6 fw-semibold m-0 ps-1">Sản phẩm</p>

      <div class="product-search mt-3">
        <div nz-row>
          <div nz-col class="d-flex align-items-center" nzSpan="4">
            <nz-segmented
              [nzOptions]="options"
              (nzValueChange)="handleIndexChange($event)"
            ></nz-segmented>
          </div>

          <div nz-col class="d-flex align-items-center" nzSpan="20">
            <nz-select
              nzShowSearch
              nzServerSearch
              nzPlaceHolder="Nhập mã, tên sản phẩm hoặc barcode"
              [(ngModel)]="selectedProduct"
              (ngModelChange)="selectProduct($event)"
              [nzShowArrow]="false"
              [nzFilterOption]="nzFilterOption"
              (nzOnSearch)="search($event)"
              class="w-100"
            >
              <nz-option
                *ngFor="let p of listFilteredProduct"
                [nzLabel]="p.name"
                [nzValue]="p"
              ></nz-option>
            </nz-select>
          </div>
        </div>

        <div class="selected-product-list border mt-3 p-2">
          <nz-empty *ngIf="listSelectedProducts.length <= 0; else listSelectedProductsBlock" nzNotFoundContent="Giỏ hàng trống"></nz-empty>

          <ng-template #listSelectedProductsBlock>
            <div class="product-control d-flex align-items-center" nz-row>
              <div nz-col nzSpan="5" class="fw-semibold">Số lượng sản phẩm: {{ listSelectedProducts.length }}</div>
            </div>

            <div class="list-products mt-2 p-1">
              <div *ngFor="let product of listSelectedProducts" class="product py-2" nz-row>
                <div nz-col nzSpan="2" class="d-flex justify-content-center">
                  <img *ngIf="product.imageUrl != null; else noImageBlock" nz-image width="60px" height="60px" [src]="product.imageUrl">

                  <ng-template #noImageBlock>
                    <img nz-image width="60px" height="60px" src="../../../../assets/images/no_image.jpg">
                  </ng-template>
                </div>

                <div nz-col nzSpan="22" class="ps-2 p-1 d-flex flex-column justify-content-between">
                  <div class="product-name fw-semibold">{{product.name}}</div>
                  <div class="product-info d-flex justify-content-between mb-1">
                    <div class="product-sku-name">
                      <span class="me-2">Den-M</span>
                      <span class="product-weight" nz-typography><strong>{{product.productSkus[0].weight}}</strong></span>
                    </div>
                    <div class="product-price m-0" nz-typography><strong>{{product.productSkus[0].price}}</strong></div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="9" class="border">c</div>
</div>
