<div class="tw-min-h-[90vh] md:tw-h-[94.2vh] tw-flex tw-flex-col tw-justify-center">
    <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-px-8 tw-h-[20vh] md:tw-h-[20vh] md:tw-px-0">
        <div class="tw-text-xl md:tw-text-2xl tw-font-bold tw-mb-3 md:tw-mb-6">SEASONAL NARRATIVES</div>
        <div class="tw-text-base md:tw-text-lg tw-text-sm tw-text-black/50 tw-text-justify">Shop a series of unique curations, where inspiration meets wardrobe
            essentials of the House.
        </div>
    </div>
    <div class="tw-flex tw-flex-row md:tw-items-start md:tw-justify-center md:tw-gap-2 tw-min-h-[69vh] md:tw-px-6 md:tw-h-[74.2vh] border border-danger">
        <div class="hover:tw-cursor-pointer">
            <img src="https://res.cloudinary.com/durcosnu6/image/upload/v1760529888/marki/bunaxbxsp0rya2lsr0b9.webp"
                alt="Seasonal Items 1" class="tw-w-full tw-h-full">
            <div class="tw-text-base tw-font-medium tw-mt-3 tw-text-center">KNITWEAR</div>
        </div>
        <div class="hover:tw-cursor-pointer">
            <img src="https://res.cloudinary.com/durcosnu6/image/upload/v1760529888/marki/bunaxbxsp0rya2lsr0b9.webp"
                alt="Seasonal Items 2" class="tw-w-full tw-h-full">
            <div class="tw-text-base tw-font-medium tw-mt-3 tw-text-center">WOOL FABRIC</div>
        </div>
        <div class="hover:tw-cursor-pointer">
            <img src="https://res.cloudinary.com/durcosnu6/image/upload/v1760529888/marki/bunaxbxsp0rya2lsr0b9.webp"
                alt="Seasonal Items 3" class="tw-w-full tw-h-full">
            <div class="tw-text-base tw-font-medium tw-mt-3 tw-text-center">COARS & BLAZERS</div>
        </div>
    </div>
</div>