.header {
    height: 8vh;
    position: fixed;
    width: 100%;
    background-color: white;
}

.header,
.menu-collapse {
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    width: 100%;
    padding: 0 var(--fs-container-margin);
  }

  .menu-collapse {
    display: none;
  }

  .menu, .fs-menu-items {
    display: flex;
    flex-direction: row;
  }

  .menu {
    align-items: center;
  }

  .fs-menu-items {
    align-items: flex-end;
    justify-content: flex-end;
  }

  .fs-item {
    list-style-type: none;
  }

  .fs-item>a {
    text-decoration: none;
    color: #292a2c;
    font-weight: 500;
    font-size: 1rem;
  }

  .fs-item>a:hover {
    text-decoration: underline;
    text-underline-offset: .5rem;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-collapse {
    flex-direction: row-reverse;
    cursor: pointer;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.menu-items {
    position: absolute;
    top: 8vh;
    z-index: 100;
    background-color: white;
    transition: 1s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
}

.item {
    font-weight: 600;
    font-size: .8rem;
}

.item:hover {
    background-color:#e8e8ea;
    cursor: pointer;
}

/* Setup if using bootstrap navbar */

/* .navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.container-fluid {
  background-color: white;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.navbar-toggler {
  border: none;
}

.navbar-toggle:focusr {
  box-shadow: none;
} */
