::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}

.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.variant-name {
  font-size: 14px;
  color: #458490;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: red;
}
