::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}

::ng-deep .ant-upload.ant-upload-select-picture-card, ::ng-deep .ant-upload-list-picture-card-container {
  width: 80px;
  height: 80px;
}

::ng-deep .ant-upload.ant-upload-select-picture-card {
  padding: 5px;
  font-size: 0px;
}

::ng-deep .ant-upload-picture-card-wrapper {
  display: flex;
  align-items: center;
}

::ng-deep .ant-upload, ::ng-deep .ant-upload-list, ::ng-deep .ant-upload-list-item {
  font-size: 11px;
}

::ng-deep .ant-upload-list-item-uploading.ant-upload-list-item {
  font-size: 0px;
}

.editable-cell {
  position: relative;
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.variant-name {
  font-size: 14px;
  color: #458490;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: red;
}

nz-select {
  width: 100%;
}

.loading-icon {
  margin-right: 8px;
}

