<form [formGroup]="addForm">
  <div class="modal-body">
    <div class="row">
      <div class="col-6 px-2 border rounded">
        <div class="product-details p-2">
          <div class="mb-3">
            <label for="productName" class="form-label m-0 mb-1"
              >Tên sản phẩm</label
            >
            <input
              type="text"
              class="form-control form-control-sm rounded-0"
              id="productName"
              placeholder="Tên sản phẩm"
              formControlName="productName"
            />
          </div>

          <div class="mb-3">
            <label for="productSKU" class="form-label m-0 mb-1"
              >SKU sản phẩm</label
            >
            <input
              type="text"
              class="form-control form-control-sm rounded-0"
              id="productSKU"
              placeholder="SKU sản phẩm"
              formControlName="productSKU"
            />
          </div>

          <div class="mb-3">
            <label for="importPrice" class="form-label m-0 mb-1"
              >Giá nhập</label
            >
            <input
              type="text"
              class="form-control form-control-sm rounded-0"
              id="importPrice"
              placeholder="Giá nhập"
              formControlName="importPrice"
            />
          </div>

          <div class="mb-3">
            <label for="price" class="form-label m-0 mb-1">Giá bán</label>
            <input
              type="text"
              class="form-control form-control-sm rounded-0"
              id="price"
              placeholder="Giá bán"
              formControlName="price"
            />
          </div>

          <div>
            <label for="description" class="form-label m-0 mb-1"
              >Mô tả sản phẩm</label
            >
            <textarea
              class="form-control form-control-sm rounded-0"
              id="description"
              placeholder="Mô tả sản phẩm"
              rows="4"
              formControlName="productDescription"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="col-6 px-2">
        <div class="supplier p-2 border rounded">
          <div class="mb-3">
            <label for="productType" class="form-label m-0 mb-1"
              >Danh mục</label
            >
            <input
              type="text"
              class="form-control form-control-sm rounded-0"
              id="productType"
              placeholder="Danh mục"
              formControlName="productTypeId"
            />
          </div>

          <div class="mb-3">
            <label for="productBrand" class="form-label m-0 mb-1"
              >Thương hiệu</label
            >
            <input
              type="text"
              class="form-control form-control-sm rounded-0"
              id="productBrand"
              placeholder="Thương hiệu"
              formControlName="productBrandId"
            />
          </div>
        </div>

        <div class="variants p-2 mt-3 border rounded">
          <div
            class="product-variants-label d-flex flex-row justify-content-between align-items-center"
          >
            <div class="fs-6 fw-semibold">Thuộc tính sản phẩm</div>

            <button
              nz-button
              nzType="primary"
              class="d-flex flex-row align-items-center"
              (click)="onCreateVariants()"
            >
              <span nz-icon nzType="plus"></span>
              Thêm thuộc tính
            </button>
          </div>

          <nz-table
            [nzData]="productOptions"
            [nzFrontPagination]="false"
            [nzShowPagination]="false"
            nzBordered
            class="mt-3"
            *ngIf="productOptions.length > 0"
          >
            <thead>
              <tr>
                <th class="p-2"></th>
                <th class="p-2">Thuộc tính</th>
                <th class="w-75 p-2">Giá trị</th>
              </tr>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="drop($event)">
              <tr *ngFor="let option of productOptions" cdkDrag>
                <td class="text-center p-2">
                  <h5 nz-icon nzType="more"></h5>
                </td>
                <td class="p-2">
                  <input
                    nz-input
                    placeholder="Basic usage"
                    type="text"
                    [(ngModel)]="option.optionName"
                    [ngModelOptions]="{ standalone: true }"
                    (keydown)="handleOptionKeydown($event, option)"
                  />
                </td>
                <td class="p-2">
                  <nz-select
                    [(ngModel)]="option.optionValues"
                    [ngModelOptions]="{ standalone: true }"
                    nzMode="tags"
                    nzPlaceHolder="Please select"
                    nzDropdownClassName="hide-dropdown"
                    class="w-100"
                    (keydown)="handleOptionValueKeydown($event, option)"
                    [nzMaxTagCount]="1000"
                  >
                  </nz-select>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>

      <div class="col-12 mt-3 px-2 border rounded">
        <div
          class="product-variant-list-control d-flex flex-row justify-content-between p-2"
        >
          <div>
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder="Nhập mã mẫu mã" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <span nz-icon nzType="search"></span>
            </ng-template>
          </div>

          <div class="border d-flex flex-row">
            <button
              nz-button
              nzType="default"
              class="me-2 d-flex align-items-center"
            >
              <span nz-icon nzType="thunderbolt"></span>
              Thêm nhanh theo thuộc tính
            </button>

            <button
              nz-button
              nzType="primary"
              class="d-flex align-items-center"
            >
              <span nz-icon nzType="plus"></span>
              Thêm mẫu mã
            </button>
          </div>
        </div>

        <div class="w-100 p-2">
          <nz-table
            #editRowTable
            [nzData]="productVariants"
            [nzFrontPagination]="false"
            [nzShowPagination]="false"
            [nzBordered]="true"
            class="mb-3 mt-2"
          >
            <thead>
              <tr>
                <th class="p-2" nzWidth="3%" nzLeft></th>
                <th class="p-2" nzWidth="7%">Hình ảnh</th>
                <th class="p-2" nzWidth="10%">SKU phân loại</th>
                <th class="p-2" nzWidth="10%">Mã vạch</th>
                <th class="p-2" nzWidth="7%">Giá nhập cuối</th>
                <th class="p-2" nzWidth="7%">Giá bán</th>
                <th class="p-2">Thuộc tính</th>
                <th class="p-2" nzWidth="8%">Trọng lượng (g)</th>
                <th class="p-2" nzWidth="5%">Tồn kho</th>
                <th class="p-2" nzWidth="7%">D x R x C</th>
                <th class="p-2" nzWidth="2%"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let variant of productVariants" class="editable-row">
                <td class="text-center p-2">
                  <nz-switch [(ngModel)]="isEdit" nzSize="small" [ngModelOptions]="{ standalone: true }"></nz-switch>
                </td>
                <td class="p-2">
                  <div class="editable-cell" [hidden]="editId === variant.id" (click)="startEdit(variant.id)">
                    {{ variant.variantImageUrl }}
                  </div>
                  <input [hidden]="editId !== variant.id" type="text" nz-input [(ngModel)]="variant.variantImageUrl" [ngModelOptions]="{ standalone: true }" (blur)="stopEdit()" />
                </td>
                <td class="p-2">
                  <input
                    nz-input
                    [(ngModel)]="variant.variantSKU"
                    [ngModelOptions]="{ standalone: true }"
                    nzPlaceHolder="Please select"
                    nzDropdownClassName="hide-dropdown"
                    class="w-100"
                  />
                </td>
                <td class="p-2">
                  <input
                    nz-input
                    [(ngModel)]="variant.variantBarcode"
                    [ngModelOptions]="{ standalone: true }"
                    nzPlaceHolder="Please select"
                    nzDropdownClassName="hide-dropdown"
                    class="w-100"
                  />
                </td>
                <td class="p-2">
                  <input
                    nz-input
                    [(ngModel)]="variant.variantImportPrice"
                    [ngModelOptions]="{ standalone: true }"
                    nzPlaceHolder="Please select"
                    nzDropdownClassName="hide-dropdown"
                    class="w-100"
                  />
                </td>
                <td class="p-2">
                  <input
                    nz-input
                    [(ngModel)]="variant.variantPrice"
                    [ngModelOptions]="{ standalone: true }"
                    nzPlaceHolder="Please select"
                    nzDropdownClassName="hide-dropdown"
                    class="w-100"
                  />
                </td>
                <td class="p-2">
                  {{ variant.variantName }}
                </td>
                <td class="p-2">
                  <input
                    nz-input
                    [(ngModel)]="variant.variantWeight"
                    [ngModelOptions]="{ standalone: true }"
                    nzPlaceHolder="Please select"
                    nzDropdownClassName="hide-dropdown"
                    class="w-100"
                  />
                </td>
                <td class="p-2">
                  <input
                    nz-input
                    [(ngModel)]="variant.variantInventoryQuantity"
                    [ngModelOptions]="{ standalone: true }"
                    class="w-100"
                  />
                </td>
                <td class="p-2">
                  <input
                    nz-input
                    [(ngModel)]="variant.variantPrice"
                    [ngModelOptions]="{ standalone: true }"
                    nzPlaceHolder="Please select"
                    nzDropdownClassName="hide-dropdown"
                    class="w-100"
                  />
                </td>
                <td class="text-center p-2">
                  <h5 type="button" nz-icon nzType="delete" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></h5>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" type="submit" (click)="onSubmit()">
      Lưu
    </button>
  </div>
</form>
