<div [formGroup]="deliveryForm">
  <div class="d-flex justify-content-between">
    <span class="fs-6 fw-semibold">Vận chuyển</span>
    <nz-select
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Đơn vị VC"
      formControlName="deliveryCompanyId"
    >
      <nz-option nzLabel="VTP" nzValue="vtp"></nz-option>
    </nz-select>
  </div>

  <div nz-row class="mt-2">
    <div nz-col nzSpan="12" class="pe-1">
      <input
        nz-input
        placeholder="Mã vận đơn"
        formControlName="shipmentCode"
        type="text"
        class="input-bg"
      />
    </div>
    <div nz-col nzSpan="12" class="ps-1">
      <nz-input-group nzAddOnBefore="Phí">
        <input
          nz-input
          placeholder="Phí vận chuyển"
          formControlName="shipmentCost"
          type="number"
        />
      </nz-input-group>
    </div>
  </div>
</div>
