<div class="category-section my-4 p-3 rounded mx-2">
    <div class="section-header border-start d-flex justify-content-between align-items-center mb-3 mt-1">
        <h5 class="m-0 ps-2">Chân váy</h5>
        <a href="#" class="p-0 text-dark text-decoration-none d-flex align-items-center">
            Xem tất cả
            <span class="ms-1">></span>
        </a>
    </div>

    <div class="section-body">
        <swiper class="pb-5" [slidesPerView]="2" [spaceBetween]="10" [navigation]="true"
            [pagination]="{ clickable: true }">
            <ng-template *ngFor="let product of products" swiperSlide>
                <div class="card">
                    <img [src]="product.pictureUrl" class="card-img-top" alt="sss">
                    <div class="card-body">
                        <p class="carousel-card-text m-0 mb-2">{{ product.name }}</p>
                        <p class="carousel-card-price m-0 pt-2">{{ product.price | number }}<u>đ</u></p>
                    </div>
                    <div class="carousel-atc-btn d-flex alig-items-center justify-content-center">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>