<div class="article w-100 pb-5 mb-5">
  <div class="section-start d-flex flex-column justify-content-center">
    <div class="section-img">
      <div id="fs-section-start-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#fs-section-start-carousel" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#fs-section-start-carousel" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#fs-section-start-carousel" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/homeimg/IMG_2436_ngang.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/homeimg/IMG_2436_ngang.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/homeimg/IMG_2436_ngang.jpg" class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#fs-section-start-carousel"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#fs-section-start-carousel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div id="mb-section-start-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#mb-section-start-carousel" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#mb-section-start-carousel" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#mb-section-start-carousel" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../../assets/homeimg/IMG_2436_test.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/homeimg/IMG_2436_test.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/homeimg/IMG_2436_test.jpg" class="d-block w-100">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mb-section-start-carousel"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mb-section-start-carousel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="section-title">NEW ARRIVALS</div>
    <div class="section-start-explore-btn">
      <button class="explore-btn p-3">EXPLORE THE COLLECTION</button>
    </div>
  </div>

  <div class="special-category">
    <div class="special-category-button d-flex flex-row justify-content-end mb-3 pe-2">
      <button class="btn btn-light me-1">New Arrivals</button>
      <button class="btn btn-light me-1">Best Seller</button>
      <button class="btn btn-light">Last Chance</button>
    </div>

    <div class="special-category-items">
      <div class="row m-0">
        <div *ngFor="let product of products" class="col-6 p-2">
          <div class="card sci-card">
            <img [src]="product.pictureUrl" class="card-img-top" alt="sss">
            <div class="card-body">
              <p class="sci-card-text m-0 mb-2">{{ product.name }}</p>
              <p class="sci-card-price">{{ product.price | number }}<u>đ</u></p>
            </div>
            <div class="btn-atc d-flex align-items-center justify-content-center">
              <i class="fa fa-shopping-cart"></i>
            </div>
          </div>
        </div>

        <div class="col-12 p-2 d-flex align-items-center justify-content-center mt-4">
          <button class="btn btn-light w-50 d-flex justify-content-center align-items-center">Xem tất cả <i class="fa fa-arrow-right fa-2xs ms-2 view-all-arrow"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="category-section my-4 p-3 rounded mx-2">
    <div class="section-header border-start d-flex justify-content-between align-items-center mb-3 mt-1">
      <h5 class="m-0 ps-2">Chân váy</h5>
      <a href="#" class="p-0 text-dark text-decoration-none d-flex align-items-center">
        Xem tất cả
        <span class="ms-1">></span>
      </a>
    </div>

    <div class="section-body">
      <swiper class="pb-5" [slidesPerView]="2" [spaceBetween]="10" [navigation]="true" [pagination]="{ clickable: true }">
        <ng-template *ngFor="let product of products" swiperSlide>
          <div class="card">
            <img [src]="product.pictureUrl" class="card-img-top" alt="sss">
            <div class="card-body">
              <p class="carousel-card-text m-0 mb-2">{{ product.name }}</p>
              <p class="carousel-card-price m-0 pt-2">{{ product.price | number }}<u>đ</u></p>
            </div>
            <div class="carousel-atc-btn d-flex align-items-center justify-content-center">
              <i class="fa fa-shopping-cart"></i>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>

  <div class="category-section my-4 p-3 rounded mx-2">
    <div class="section-header border-start d-flex justify-content-between align-items-center mb-3 mt-1">
      <h5 class="m-0 ps-2">Áo</h5>
      <a href="#" class="p-0 text-dark text-decoration-none d-flex align-items-center">
        Xem tất cả
        <span class="ms-1">></span>
      </a>
    </div>

    <div class="section-body">
      <swiper class="pb-5" [slidesPerView]="2" [spaceBetween]="10" [navigation]="true" [pagination]="{ clickable: true }">
        <ng-template *ngFor="let product of products" swiperSlide>
          <div class="card">
            <img [src]="product.pictureUrl" class="card-img-top" alt="sss">
            <div class="card-body">
              <p class="carousel-card-text m-0 mb-2">{{ product.name }}</p>
              <p class="carousel-card-price m-0 pt-2">{{ product.price | number }}<u>đ</u></p>
            </div>
            <div class="carousel-atc-btn d-flex align-items-center justify-content-center">
              <i class="fa fa-shopping-cart"></i>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>

  <div class="category-section my-4 p-3 rounded mx-2">
    <div class="section-header border-start d-flex justify-content-between align-items-center mb-3 mt-1">
      <h5 class="m-0 ps-2">Quần</h5>
      <a href="#" class="p-0 text-dark text-decoration-none d-flex align-items-center">
        Xem tất cả
        <span class="ms-1">></span>
      </a>
    </div>

    <div class="section-body">
      <swiper class="pb-5" [slidesPerView]="2" [spaceBetween]="10" [navigation]="true" [pagination]="{ clickable: true }">
        <ng-template *ngFor="let product of products" swiperSlide>
          <div class="card">
            <img [src]="product.pictureUrl" class="card-img-top" alt="sss">
            <div class="card-body">
              <p class="carousel-card-text m-0 mb-2">{{ product.name }}</p>
              <p class="carousel-card-price m-0 pt-2">{{ product.price | number }}<u>đ</u></p>
            </div>
            <div class="carousel-atc-btn d-flex align-items-center justify-content-center">
              <i class="fa fa-shopping-cart"></i>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>