.container {
    background-color: var(--secondary-white-color);
}

form {
    background-color: var(--white-color);
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: var(--mobile-header-height);
    }

    input, .is-invalid, .is-valid, .ng-dirty {
        font-size: .85rem;
    }
}