<nz-layout class="border h-100">
  <nz-content class="h-100 border-bottom" #content>
    <nz-table nzBordered #rowSelectionTable nzShowPagination="false"
      [nzFrontPagination]="false" [nzScroll]="{ x: '1200px', y: '768px' }" [nzData]="customers"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzLoading]="loading" nzSize="small">
      <thead>
        <tr>
          <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" nzLabel="Select all"
            (nzCheckedChange)="onAllChecked($event)" nzWidth="40px" nzLeft></th>
          <th rowSpan="1" nzWidth="40px" nzLeft>Thứ tự</th>
          <th nzWidth="140px">Ảnh desktop</th>
          <th nzWidth="140px">Link</th>
          <th nzWidth="140px">Ảnh mobile</th>
          <th nzWidth="140px">Link</th>
          <th nzWidth="120px">Link điều hướng</th>
          <th nzWidth="120px">Alt Text</th>
          <th nzWidth="200px">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td [nzChecked]="setOfCheckedId.has(customer.id)" (nzCheckedChange)="onItemChecked(customer.id, $event)" nzLeft>
          </td>
          <td nzLeft>{{ customer.id }}</td>
          <td (click)="onEditCustomer(customer)">{{ customer.name }}</td>
          <td (click)="onEditCustomer(customer)"></td>
          <td (click)="onEditCustomer(customer)"></td>
          <td (click)="onEditCustomer(customer)">{{ customer.dob | date : 'dd/MM/yyyy' }}</td>
          <td (click)="onEditCustomer(customer)">{{ customer.name }}</td>
          <td (click)="onEditCustomer(customer)">{{ customer.name }}</td>
          <td (click)="onEditCustomer(customer)">{{ customer.phoneNumber }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>

  <nz-footer class="d-flex align-items-center justify-content-between px-2">
    <div class="customer-info">
    </div>
  </nz-footer>
</nz-layout>
