<nz-layout class="border h-100">
  <nz-content class="h-100 border-bottom" #content>
    <nz-table nzBordered #rowSelectionTable nzShowPagination="false"
      [nzFrontPagination]="false" [nzScroll]="{ x: '1200px', y: '768px' }" [nzData]="slides"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzLoading]="loading" nzSize="small">
      <thead>
        <tr>
          <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" nzLabel="Select all"
            (nzCheckedChange)="onAllChecked($event)" nzWidth="40px" nzLeft></th>
          <th rowSpan="1" nzWidth="40px" nzLeft>Thứ tự</th>
          <th nzWidth="140px">Ảnh desktop</th>
          <th nzWidth="140px">Link</th>
          <th nzWidth="140px">Ảnh mobile</th>
          <th nzWidth="140px">Link</th>
          <th nzWidth="120px">Link điều hướng</th>
          <th nzWidth="120px">Alt Text</th>
          <th nzWidth="200px">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let slide of slides">
          <td [nzChecked]="setOfCheckedId.has(slide.id)" (nzCheckedChange)="onItemChecked(slide.id, $event)" nzLeft>
          </td>
          <td nzLeft>{{ slide.orderNo }}</td>
          <td (click)="onEditSlide(slide)">
            <img [src]="slide.desktopImageUrl" [alt]="slide.altText" class="w-50" />
          </td>
          <td (click)="onEditSlide(slide)">{{ shortenUrl(slide.desktopImageUrl, 25) }}</td>
          <td (click)="onEditSlide(slide)">
            <img [src]="slide.mobileImageUrl" [alt]="slide.altText" class="w-50" />
          </td>
          <td (click)="onEditSlide(slide)">{{ shortenUrl(slide.mobileImageUrl, 25) }}</td>
          <td (click)="onEditSlide(slide)">{{ slide.link }}</td>
          <td (click)="onEditSlide(slide)">{{ slide.altText }}</td>
          <td (click)="onEditSlide(slide)">
            <nz-switch [(ngModel)]="slide.status" (click)="switchStatus(slide)" [nzControl]="true" [nzLoading]="loading"></nz-switch>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>
