<nz-layout class="h-100">
  <nz-header class="d-flex align-items-center px-2">
    <div class="col-3 p-0 d-flex flex-row">
      <div class="d-flex align-items-center justify-content-start px-2 w-25">Thời gian</div>
      <div class="w-50 d-flex align-items-center">
        <input type="text" placeholder="Hôm nay" class="form-control form-control-sm rounded-0" bsDatepicker
          [bsValue]="today" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY', adaptivePosition: true }"
          (bsValueChange)="onDateChange($event)">
      </div>
    </div>
  </nz-header>

  <nz-content class="px-2">
    <nz-table nzBordered #rowSelectionTable nzShowPagination="false" [nzFrontPagination]="false"
      [nzScroll]="{ x: '1200px', y: '768px' }" [nzData]="shopeeOrderProducts" nzSize="small">
      <thead>
        <tr>
          <th nzWidth="200px">Mã đơn hàng</th>
          <th nzWidth="150px">Trạng thái</th>
          <th nzWidth="550px">Sản phẩm</th>
          <th>SKU</th>
          <th>Số lượng</th>
          <th>Doanh thu</th>
          <th>Giá nhập</th>
          <th>Lợi nhuận</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of shopeeOrderProducts">
          <td>{{ order.orderId }}</td>
          <td>{{ order.orderStatus }}</td>
          <td>{{ order.productName }}</td>
          <td>{{ order.productSKU }}</td>
          <td>{{ order.productQuantity }}</td>
          <td>{{ order.revenue | thousandSeparator }}</td>
          <td>{{ order.importPrice | thousandSeparator }}</td>
          <td>{{ order.orderProfit | thousandSeparator }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>

  <nz-footer class="d-flex align-items-center justify-content-between px-2">
    <div class="order-info">
      Doanh thu: <b>{{ totalRevenue | thousandSeparator}}</b>
    </div>
  </nz-footer>
</nz-layout>
