.cart,
.order-total {
  background-color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .basket-container {
    margin-top: var(--desktop-header-height);
    padding: 0 var(--fs-container-margin);
  }

  .item-info>img {
    width: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .basket-container {
    margin-top: var(--desktop-header-height);
  }

  .item-info>img {
    width: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .basket-container {
    margin-top: var(--mobile-header-height);
    background-color: var(--secondary-white-color);
  }

  textarea {
    resize: none;
  }

  .item-info>img {
    width: 5rem;
    height: 5rem;
  }

  .info>p {
    font-weight: 400;
    font-size: 0.8rem;
  }

  u {
    text-underline-offset: 0.3rem;
  }
}

@media (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
}