<div class="tw-my-[40px] lg:tw-my-[130px]">
  <div class="tw-flex tw-flex-row tw-justify-center">
    <p class="tw-text-[25px] tw-font-bold">NEW ARRIVALS</p>
  </div>

  <div class="tw-my-5 tw-px-3 md:tw-my-6 md:tw-px-6 lg:tw-my-10 lg:tw-px-48 tw-relative">
    <!-- Navigation buttons -->
    <div class="swiper-button-prev-custom tw-hidden lg:tw-flex tw-absolute tw-left-1 lg:tw-left-32 tw-top-1/2 tw-transform tw--translate-y-1/2 tw-z-10 tw-w-8 tw-h-8 tw-items-center tw-justify-center tw-cursor-pointer">
      <svg class="tw-w-6 tw-h-6 tw-text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
      </svg>
    </div>
    
    <div class="swiper-button-next-custom tw-hidden lg:tw-flex tw-absolute tw-right-1 lg:tw-right-32 tw-top-1/2 tw-transform tw--translate-y-1/2 tw-z-10 tw-w-8 tw-h-8 tw-items-center tw-justify-center tw-cursor-pointer">
      <svg class="tw-w-6 tw-h-6 tw-text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    </div>

    <swiper [config]="swiperConfig" class="tw-w-full tw-h-[350px] sm:tw-h-[400px] md:tw-h-[350px] lg:tw-h-[400px]">
      <ng-template swiperSlide *ngFor="let product of products; let i = index">
        <div class="tw-h-[350px] sm:tw-h-[400px] md:tw-h-[350px] lg:tw-h-[400px] tw-border-gray-500 tw-border-[0.5px] tw-mx-1">
          <div class="product-card tw-h-full tw-cursor-pointer" (click)="redirectToProduct(product.slug)">
            <div class="tw-h-4/5 tw-border-b-[0.5px]">
              <img nz-image [src]="getMainPhotoUrl(product)" class="object-fit-cover w-100 h-100">
            </div>

            <div class="tw-h-1/5 tw-py-1 lg:tw-py-3">
              <div class="tw-h-1/2 tw-px-3 tw-flex tw-items-center">
                <p nz-typography nzEllipsis nzEllipsisRows="1" class="tw-text-sm tw-font-medium">{{ product.name }}</p>
              </div>

              <div class="tw-h-1/2 tw-flex tw-items-center">
                <span class="tw-font-bold tw-px-3 tw-text-sm">100.000 đ</span>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
    
    <!-- Custom dots container -->
    <div class="tw-flex tw-justify-center tw-mt-6">
      <div class="swiper-pagination-custom"></div>
    </div>
  </div>

  <div class="tw-flex tw-items-center tw-justify-center tw-mt-4">
    <button type="button"
      class="view-more-btn tw-bg-black tw-text-white tw-px-4 tw-py-2 tw-rounded-none tw-border-2 tw-border-black tw-transition-all tw-duration-300 tw-ease-in-out"
      (click)="onViewMoreClick()">
      Xem thêm
    </button>
  </div>
</div>