<div class="px-3 py-2">
    <app-common-breadcrumb></app-common-breadcrumb>
</div>

<div *ngIf="(basketService.basketSource$ | async) === null"
    class="tw-px-3 tw-min-h-[60vh] tw-flex tw-items-center tw-justify-center">
    <p class="tw-mt-8">
        Giỏ hàng của bạn đang trống. Mời bạn mua thêm sản phẩm
        <u class="text-dark" routerLink="/" style="cursor: pointer">tại đây</u>
        .
    </p>
</div>

<div *ngIf="basketService.basketSource$ | async as basket" class="tw-flex tw-flex-col md:tw-flex-row tw-gap-4 tw-mb-4">
    <div class="tw-bg-neutral-50 tw-p-4 md:tw-w-2/3">
        <div class="tw-flex tw-items-center tw-justify-between">
            <h5 class="tw-font-bold tw-text-xl tw-antialiased">Giỏ hàng:</h5>
            <span *ngIf="basketService.basketSource$ | async as basket">
                <u>{{ getCount(basket.items) }} sản phẩm</u>
            </span>
        </div>

        <div *ngFor="let item of basket.items">
            <hr class="my-3" />

            <div class="tw-border tw-border-neutral-300 tw-flex tw-flex-row tw-p-2 md:tw-p-1">
                <img class="tw-w-[30%] md:tw-w-[15%]" [src]="item.pictureUrl" />

                <div class="tw-w-[70%] md:tw-w-[85%] tw-flex tw-flex-row">
                    <div class="tw-w-[80%] md:tw-w-[85%] tw-flex tw-flex-col tw-pl-3 md:tw-pl-6 md:tw-py-2">
                        <div class="tw-font-medium tw-text-md md:tw-text-xl tw-antialiased">{{ item.productName }}</div>

                        <div>
                            <span *ngFor="let value of item.productSKUValues">{{ value.productOptionValue.valueName }}
                            </span>
                        </div>

                        <div class="mt-auto">
                            <div
                                class="border border-dark tw-flex tw-flex-row tw-justify-between tw-w-1/3 lg:tw-w-1/6 md:tw-py-1 tw-mt-4">
                                <span class="mx-2 fw-bold" style="cursor: pointer"
                                    (click)="removeItem(item.id, 1)">-</span>
                                <span>{{ item.quantity }}</span>
                                <span class="mx-2 fw-bold" style="cursor: pointer"
                                    (click)="incrementQuantity(item)">+</span>
                            </div>
                        </div>
                    </div>

                    <div class="tw-w-[20%] md:tw-w-[15%] tw-flex tw-flex-col tw-justify-between tw-items-end">
                        <span nz-icon class="fs-4 tw-cursor-pointer" nzType="close-square" nzTheme="fill"
                            (click)="removeItem(item.id, item.quantity)"></span>

                        <span class="tw-font-semibold tw-pr-1 md:tw-pb-1">{{ item.price * item.quantity| number
                            }}đ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tw-bg-neutral-50 md:tw-w-1/3 tw-p-4" *ngIf="basketService.basketTotalSource$ | async as total">
        <div class="tw-text-lg tw-font-semibold">Thông tin đơn hàng</div>
        <hr class="my-3" />
        <div class="tw-flex tw-flex-col tw-gap-4">
            <div class="tw-flex tw-items-center tw-justify-between">
                <h6>Tạm tính:</h6>
                <h6 class="tw-font-semibold">{{ total.subtotal | number }}đ</h6>
            </div>
            <div class="tw-flex tw-items-center tw-justify-between">
                <h6>Phí vận chuyển:</h6>
                <h6 class="text-danger tw-font-semibold">{{ total.shipping | number }}đ</h6>
            </div>
            <div class="tw-flex tw-items-center tw-justify-between">
                <h6>Giảm giá:</h6>
                <h6 class="text-danger tw-font-semibold">0đ</h6>
            </div>
            <div class="tw-flex tw-items-center tw-justify-between">
                <h6>Tổng tiền:</h6>
                <h6 class="text-danger tw-font-semibold">{{ total.total | number }}đ</h6>
            </div>
        </div>
        <hr class="my-3" />
        <div>
            <h6>Ghi chú đơn hàng</h6>
            <div class="form-group pt-2">
                <textarea class="form-control" rows="4" placeholder="Ghi chú"></textarea>
            </div>

            <div class="form-group pt-3">
                <input class="form-control" type="text" placeholder="Nhập mã khuyến mãi (nếu có)" />
            </div>

            <button type="button" class="btn btn-dark rounded-0 w-100 mt-4 mb-2" (click)="redirectToCheckout()">
                THANH TOÁN NGAY
            </button>
            <div class="d-flex align-items-center justify-content-center mt-0 pt-0">
                <i class="fa fa-arrow-left"></i>
                <button type="button" class="btn" routerLink="/products">
                    Tiếp tục mua hàng
                </button>
            </div>
        </div>
    </div>
</div>