<div class="chechout-success-container">
    <div class="row h-100">
        <div class="col-6 border-end d-flex flex-column">
            <h5 class="mt-4 mb-4">Đặt hàng thành công</h5>
            <p class="mb-3">Mã đơn hàng: #SAMPLE</p>
            <p class="mb-3">Cảm ơn bạn đã mua hàng tại Marki!</p>
            <p class="mb-3">Nhân viên bán hàng của Marki sẽ liên hệ với quý khách sớm, bằng số điện thoại 0848.666.765.</p>
            <p class="mb-3">Quý khách vui lòng nghe máy để được xác nhận đơn hàng! Marki xin cảm ơn!</p>
            <p class="mb-3">Để thuận lợi trong việc thanh toán, Quý khách chỉ chuyển khoản sau khi nhận cuộc gọi xác nhận đơn. Mọi
                thắc mắc và góp ý Quý khách vui lòng gọi Hotline 0848.666.765 để được hỗ trợ trong thời gian sớm nhất.
                Xin cảm ơn!</p>
            <p>Rất hân hạnh được phục vụ quý khách!</p>

            <div class="border p-2">
                <p class="mb-1 fs-3">Thông tin đơn hàng</p>
                <p class="mb-1 fs-5">Thông tin giao hàng</p>
                <p class="mb-1">Name</p>
                <p class="mb-1">0988220012</p>
                <p class="mb-1">24 Hàng Rươi</p>
                <p class="mb-1">Phường</p>
                <p class="mb-1">Quận</p>
                <p class="mb-1">Thành phố</p>
                <p class="mb-4">Quốc gia</p>

                <p class="mb-1 fs-5">Phương thức thanh toán</p>
                <p>COD</p>
            </div>

            <div>
                <button class="btn btn-primary w-25 mt-2 float-end">Tiếp tục mua hàng</button>
            </div>
        </div>
        <div class="col-6 right-section">
            <div class="items">
                <div class="border-bottom item p-3 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <img src="../../../assets/product-image/COD.png" class="border rounded">
                        <span class="item-no border d-flex align-items-center justify-content-center">1</span>
                        <div class="ms-3 d-flex flex-column item-description">
                            <h6 class="mb-1">b</h6>
                            <span>This is thuoc tinh</span>
                        </div>
                    </div>

                    <h6>100.000đ</h6>
                </div>
            </div>

            <div class="order-total-pre-calculate p-3 border-bottom">
                <div class="d-flex justify-content-between">
                    <span class="pre-cal-title">Tạm tính:</span>
                    <span class="pre-cal-title">100.000đ</span>
                </div>
                <div class="d-flex justify-content-between mt-2">
                    <span class="pre-cal-title">Phí vận chuyển:</span>
                    <span class="pre-cal-title">30.000đ</span>
                </div>
            </div>

            <div class="order-total p-3 d-flex justify-content-between align-items-center">
                <span>Tổng cộng</span>
                <h3>130.000đ</h3>
            </div>
        </div>
    </div>
</div>