<div class="tw-px-6 md:tw-px-32">
  <div class="tw-flex tw-flex-col tw-gap-5 lg:tw-flex-row tw-items-stretch tw-py-4">
    <p
      class="lg:tw-basis-1/5 tw-flex tw-items-center tw-text-lg tw-justify-center lg:tw-justify-start tw-antialiased tw-font-medium">
      SIGN UP FOR UPDATES</p>

    <div class="lg:tw-basis-2/5 tw-flex tw-items-center">
      <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton" [nzPrefix]="emailPrefix">
        <input type="text" nz-input placeholder="Email" class="tw-ps-2 tw-text-sm" />
      </nz-input-group>
      <ng-template #suffixButton>
        <button nz-button nzType="default" nzSize="large" nzSearch class="tw-bg-black d-flex tw-items-center hover:tw-bg-black hover:tw-text-white hover:tw-border-white">
          <span class="tw-text-white" nz-icon nzType="send" nzTheme="outline"></span>
          <span class="tw-text-white tw-text-sm">SIGN UP</span>
        </button>
      </ng-template>
      <ng-template #emailPrefix>
        <span nz-icon nzType="mail" nzTheme="outline" class="tw-me-2"></span>
      </ng-template>
    </div>

    <div class="lg:tw-basis-2/5 tw-flex tw-items-center tw-justify-center lg:tw-justify-end">
      <span nz-icon nzType="facebook" nzTheme="outline" class="fs-3 mx-1"></span>
      <span nz-icon nzType="instagram" nzTheme="outline" class="fs-3 mx-1"></span>
    </div>
  </div>

  <hr class="m-0 fs-2">

  <div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 tw-gap-5 tw-pt-5 tw-mb-4">
    <div class="tw-grid tw-grid-cols-1 tw-gap-2">
      <p class="tw-text-lg tw-font-bold">ABOUT</p>
      <p class="tw-text-sm md:tw-tracking-tighter">SAMPLE - A brand of minimalist and elegant women's fashion</p>
      <p class="tw-flex tw-items-center">
        <span class="tw-me-2 tw-text-sm" nz-icon nzType="phone" nzTheme="outline"></span>
        <span>0848666765</span>
      </p>
      <p class="m-0 tw-flex tw-items-center">
        <span class="tw-me-2 tw-text-sm" nz-icon nzType="mail" nzTheme="outline"></span>
        <span>contact&#64;sample.vn</span>
      </p>
      <p class="m-0 d-flex align-items-center">
        <span class="tw-me-2 tw-text-sm" nz-icon nzType="clock-circle" nzTheme="outline"></span>
        <span>Opening hours: 14:00 - 18:30</span>
      </p>
      <p class="m-0 d-flex align-items-center">
        <span class="tw-me-2 tw-text-sm" nz-icon nzType="customer-service" nzTheme="outline"></span>
        <span>Customer support available 24/7</span>
      </p>
    </div>

    <div class="text-start tw-grid tw-grid-cols-1 tw-gap-2">
      <p class="tw-text-lg tw-font-bold">POLICIES</p>

      <div class="d-flex align-items-center">
        <span nz-icon nzType="caret-right" nzTheme="outline" class="tw-me-2 tw-text-sm"></span>
        <span>Order guide</span>
      </div>
      <div class="d-flex align-items-center">
        <span nz-icon nzType="caret-right" nzTheme="outline" class="tw-me-2 tw-text-sm"></span>
        <span>Payment information</span>
      </div>
      <div class="d-flex align-items-center">
        <span nz-icon nzType="caret-right" nzTheme="outline" class="tw-me-2 tw-text-sm"></span>
        <span>Return and warranty policy</span>
      </div>
      <div class="d-flex align-items-center">
        <span nz-icon nzType="caret-right" nzTheme="outline" class="tw-me-2 tw-text-sm"></span>
        <span>Privacy policy</span>
      </div>
    </div>

    <div class="text-start">
      <p class="tw-text-lg tw-font-bold">STORE ADDRESS</p>

      <div class="d-flex align-items-center my-2">
        <span nz-icon nzType="environment" nzTheme="outline" class="tw-me-2 tw-font-bold"></span>
        <span class="fw-bold">HA NOI</span>
      </div>

      <p>14 Nguyen Khuyen, Van Mieu, Dong Da, Ha Noi.</p>
    </div>
  </div>

  <div class="py-3">
    <span class="tw-font-semibold tw-font-5">COPYRIGHT BELONGS TO BACH</span>
  </div>
</div>