<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h5 class="modal-title pull-left">{{ title }}</h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6 px-2">
        <div class="product-details p-2">
          <div class="mb-3">
            <label for="productName" class="form-label m-0 mb-1">Tên sản phẩm</label>
            <input type="text" class="form-control form-control-sm rounded-0" id="productName"
              placeholder="Tên sản phẩm" formControlName="productName" />
          </div>

          <div class="mb-3">
            <label for="productSKU" class="form-label m-0 mb-1">SKU sản phẩm</label>
            <input type="text" class="form-control form-control-sm rounded-0" id="productSKU" placeholder="SKU sản phẩm"
              formControlName="productSKU" />
          </div>

          <div class="mb-3">
            <label for="importPrice" class="form-label m-0 mb-1">Giá nhập</label>
            <input type="text" class="form-control form-control-sm rounded-0" id="importPrice" placeholder="Giá nhập"
              formControlName="importPrice" />
          </div>

          <div class="mb-3">
            <label for="price" class="form-label m-0 mb-1">Giá bán</label>
            <input type="text" class="form-control form-control-sm rounded-0" id="price" placeholder="Giá bán"
              formControlName="price" />
          </div>

          <div>
            <label for="description" class="form-label m-0 mb-1">Mô tả sản phẩm</label>
            <textarea class="form-control form-control-sm rounded-0" id="description" placeholder="Mô tả sản phẩm"
              rows="4" formControlName="productDescription"></textarea>
          </div>
        </div>
      </div>
      <div class="col-6 px-2">
        <div class="supplier p-2">
          <div class="mb-3">
            <label for="productType" class="form-label m-0 mb-1">Danh mục</label>
            <input type="text" class="form-control form-control-sm rounded-0" id="productType" placeholder="Danh mục"
              formControlName="productTypeId" />
          </div>

          <div class="mb-3">
            <label for="productBrand" class="form-label m-0 mb-1">Thương hiệu</label>
            <input type="text" class="form-control form-control-sm rounded-0" id="productBrand"
              placeholder="Thương hiệu" formControlName="productBrandId" />
          </div>
        </div>

        <div class="supplier p-2 mt-3">
          <div
            class="product-variants-label border border-danger d-flex flex-row justify-content-between align-items-center">
            <div class="fs-6 fw-semibold">Thuộc tính sản phẩm</div>
            <button type="button" class="btn btn-sm btn-primary rounded-0">Thêm thuộc tính</button>
          </div>

          <div class="product-variants-table">
            <nz-select ngModel="lucy">
              <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
              <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
              <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
            </nz-select>
            <nz-select ngModel="lucy" nzDisabled>
              <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-select>
            <nz-select ngModel="lucy" nzLoading>
              <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-select>
            <nz-select ngModel="lucy" nzAllowClear nzPlaceHolder="Choose">
              <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            </nz-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-sm rounded-0">Lưu</button>
  </div>
</form>