<div class="container-fluid bg-light py-3 rounded-1">
  <div class="border-start border-dark border-4 ps-2 mb-3 d-flex align-items-center justify-content-between">
    <span class="fw-bold fs-5">{{ sectionName }}</span>

    <button nz-button class="bg-dark text-light rounded-1">
      Xem tất cả >>
    </button>
  </div>

  <div class="product-swiper">
    <swiper [config]="swiperConfig" class="w-100 h-100 pb-4">
      <ng-template *ngFor="let product of products" swiperSlide>
        <div class="slide-item h-100 border">
          <div class="h-75">
            <img nz-image [src]="product.photos[0].url" class="object-fit-cover w-100 h-100">
          </div>

          <div class="h-25">
            <div class="h-50">
              <p nz-typography nzEllipsis nzEllipsisRows="2" class="m-0 lh-sm fw-semibold p-1">
                {{ product.name }}
              </p>
            </div>

            <div class="h-50 d-flex align-items-center p-1">
              <span class="fw-bold">100.000đ</span>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>


</div>
