<header class="header d-flex flex-row align-items-center justify-content-between py-2 mb-3 bg-white border-bottom fixed-top shadow-sm">
  <div class="logo"><a class="text-decoration-none" routerLink="/shop">MARKI</a></div>
  <nav class="my-2">
    <a class="p-4 text-dark text-decoration-none">Tất cả</a>
    <a class="p-4 text-dark text-decoration-none">Hàng mới về</a>
    <a class="p-4 text-dark text-decoration-none">Áo</a>
    <a class="p-4 text-dark text-decoration-none">Quần</a>
    <a class="p-4 text-dark text-decoration-none">Váy</a>
    <a class="p-4 text-dark text-decoration-none" routerLink="/test-error" routerLinkActive="active" >Test Error</a>
  </nav>
  <div class="d-flex align-items-center">
    <a class="position-relative me-2">
      <i class="fa fa-shopping-cart fa-lg me-4 text-dark"></i>
      <div class="cart-no">15</div>
    </a>
    <a href="" class="btn btn-sm btn-outline-dark me-3">Đăng nhập</a>
    <a href="" class="btn btn-sm btn-outline-dark me-2">Đăng ký</a>
  </div>
</header>
