<div
    class="tw-h-[70vh] tw-flex tw-flex-col tw-justify-center tw-content-center md:tw-px-6 lg:tw-px-48 tw-bg-[url('https://res.cloudinary.com/durcosnu6/image/upload/v1761736885/marki/banners/desktop/cqwdzb132k4ytd0sie8b.jpg')] tw-bg-no-repeat tw-bg-cover tw-bg-center md:tw-bg-right-top">
    <div class="tw-text-white tw-px-5 tw-my-5 md:tw-w-1/3 tw-text-5xl tw-font-bold">WINTER COLLECTION</div>
    <div class="tw-text-white tw-px-5 tw-my-5 md:tw-w-1/3 tw-text-sm">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at ullamcorper metus, ac facilisis est. Aliquam
        quam sapien, egestas malesuada posuere sit amet, consectetur quis odio. Cras sit amet pellentesque dolor.
        Maecenas ullamcorper ornare quam
    </div>
    <div class="tw-text-white tw-px-5 tw-my-5 md:tw-w-1/3 tw-text-sm">
        <div
            class="tw-border tw-border-white hover:tw-cursor-pointer tw-w-2/3 tw-flex tw-justify-center tw-py-1 tw-text-[11px] hover:tw-bg-black hover:tw-text-white"
            routerLink="/all">
            Discover more</div>
    </div>
</div>