<div class="tw-h-[70vh] md:tw-px-6 lg:tw-px-48 tw-bg-[url('https://res.cloudinary.com/durcosnu6/image/upload/v1761736885/marki/banners/desktop/cqwdzb132k4ytd0sie8b.jpg')] tw-bg-no-repeat tw-bg-cover tw-bg-center md:tw-bg-right-top">
    <div class="tw-text-white tw-text-5xl tw-font-bold">COLLECTION NAME</div>
    <div class="tw-text-white tw-text-sm">Collection Description</div>
    <div class="tw-text-white tw-text-sm">
        <button class="tw-bg-white tw-text-black tw-px-4 tw-py-2 tw-rounded-md">View Collection</button>
    </div>
</div>