<div class="carousel">
    <app-home-carousel></app-home-carousel>
</div>

<div class="mt-3 mt-lg-5 mb-lg-3">
    <app-home-new-arrivals></app-home-new-arrivals>
</div>

<div class="row border border-success p-0 m-0 align-items-stretch">
  <div class="mt-3 px-2 px-lg-0 col-12 col-lg-6 border border-danger">
    <app-home-product-carousel sectionName="Chân váy" [typeId]="dressId" class="flex-fill"></app-home-product-carousel>
  </div>
  
  <div class="mt-4 px-2 mt-3 px-2 px-lg-0 col-12 col-lg-6 border border-danger">
    <app-home-product-carousel sectionName="Áo" [typeId]="shirtId" class="flex-fill"></app-home-product-carousel>
  </div>
  
  <div class="mt-4 px-2 mt-3 px-2 px-lg-0 col-12 col-lg-6">
    <app-home-product-carousel sectionName="Quần" [typeId]="pantsId" class="flex-fill"></app-home-product-carousel>
  </div>
</div>

<div class="mt-3">
    <app-home-collection-banners></app-home-collection-banners>
</div>
