<div class="carousel">
    <app-home-carousel></app-home-carousel>
</div>

<div class="mt-3">
    <app-home-new-arrivals></app-home-new-arrivals>
</div>

<div class="mt-3 px-2">
  <app-home-product-carousel sectionName="Chân váy" [typeId]="dressId"></app-home-product-carousel>
</div>

<div class="mt-5 px-2">
  <app-home-product-carousel sectionName="Áo" [typeId]="shirtId"></app-home-product-carousel>
</div>

<div class="mt-5 px-2">
  <app-home-product-carousel sectionName="Quần" [typeId]="pantsId"></app-home-product-carousel>
</div>

<div class="mt-5">
    <app-home-collection-banners></app-home-collection-banners>
</div>
