<div class="row m-0 p-0">
    <div class="col-4 d-flex flex-column">
      <div class="service-img d-flex justify-content-center mb-2">
        <img src="../../../assets/product-image/7-days-return.png" alt="">
      </div>
      <div class="service-description">
        Đổi trả tận nhà trong vòng 7 ngày
      </div>
    </div>
  
    <div class="col-4 d-flex flex-column">
      <div class="service-img d-flex justify-content-center mb-2">
        <img src="../../../assets/product-image/free-ship.png" alt="">
      </div>
      <div class="service-description">
        Miễn phí vận chuyển đơn từ 700k
      </div>
    </div>
  
    <div class="col-4 d-flex flex-column">
      <div class="service-img d-flex justify-content-center mb-2">
        <img src="../../../assets/product-image/guarantee.png" alt="">
      </div>
      <div class="service-description">
        Bảo hành trong vòng 30 ngày
      </div>
    </div>
  </div>
  
  <div class="row mt-3 m-0 p-0">
    <div class="col-4 d-flex flex-column">
      <div class="service-img d-flex justify-content-center mb-2">
        <img src="../../../assets/product-image/hotline.png" alt="">
      </div>
      <div class="service-description">
        Hotline 0848666765 hỗ trợ từ 8h30-22h
      </div>
    </div>
  
    <div class="col-4 d-flex flex-column">
      <div class="service-img d-flex justify-content-center mb-2">
        <img src="../../../assets/product-image/COD.png" alt="">
      </div>
      <div class="service-description">
        Giao hàng toàn quốc
      </div>
    </div>
  
    <div class="col-4 d-flex flex-column">
      <div class="service-img d-flex justify-content-center mb-2">
        <img src="../../../assets/product-image/discount.png" alt="">
      </div>
      <div class="service-description">
        Có cộng dồn ưu đãi KHTT
      </div>
    </div>
  </div>
  