<div class="pd-container border">
  <div class="row my-3">
    <div class="col-5 p-2 p-image border">
      <gallery [items]="images"></gallery>
    </div>

    <div class="col-7 py-2 px-3 p-detail border">
      <div class="p-info border p-3">
        <h5 class="mb-3">Áo Thun ICONDENIM Lightweight Basic W Label</h5>

        <div>
          <p class="mb-3">
            Loại: <b>Áo thun</b> | Mã sản phẩm: <b>ATID0265-01</b>
          </p>
        </div>

        <div class="mb-3">
          <h3>180.000d</h3>
        </div>

        <app-product-color class="mt-3"></app-product-color>

        <hr />

        <app-product-size class="mt-3"></app-product-size>

        <div class="row my-4 mx-0" style="height: 2.5rem;">
          <div class="col-2 d-flex align-items-center px-0">
            <div
              class="w-100 h-100 d-flex justify-content-between align-items-center px-2 py-1 border quantity"
            >
              <h5
                class="m-0 p-0"
                style="cursor: pointer; font-weight: bold;"
              >
                -
              </h5>
              <span><b>1</b></span>
              <h5
                class="m-0 p-0"
                style="cursor: pointer; font-weight: bold;"
              >
                +
              </h5>
            </div>
          </div>

          <div class="col-5">
            <button class="btn btn-sm btn-dark w-100 h-100 rounded-0">Thêm vào giỏ</button>
          </div>

          <div class="col-5">
            <button class="btn btn-sm btn-outline-dark w-100 h-100 rounded-0">Mua ngay</button>
          </div>
        </div>
      </div>

      <div class="services border p-3 mt-3">
        <div class="row m-0 p-0">
          <div class="col-4 d-flex flex-column">
            <div class="service-img">
              <img src="../../../assets/product-image/7-days-return.png" alt="">
            </div>
            <div class="service-description">
              Đổi trả tận nhà trong vòng 7 ngày
            </div>
          </div>

          <div class="col-4 d-flex flex-column">
            <div class="service-img">
              <img src="../../../assets/product-image/7-days-return.png" alt="">
            </div>
            <div class="service-description">
              Miễn phí vận chuyển đơn từ 700k
            </div>
          </div>

          <div class="col-4 d-flex flex-column">
            <div class="service-img">
              <img src="../../../assets/product-image/7-days-return.png" alt="">
            </div>
            <div class="service-description">
              Bảo hành trong vòng 30 ngày
            </div>
          </div>
        </div>

        <div class="row mt-3 m-0 p-0">
          <div class="col-4 d-flex flex-column">
            <div class="service-img">
              <img src="../../../assets/product-image/7-days-return.png" alt="">
            </div>
            <div class="service-description">
              Hotline 0848666765 hỗ trợ từ 8h30-22h
            </div>
          </div>

          <div class="col-4 d-flex flex-column">
            <div class="service-img">
              <img src="../../../assets/product-image/7-days-return.png" alt="">
            </div>
            <div class="service-description">
              Giao hàng toàn quốc
            </div>
          </div>

          <div class="col-4 d-flex flex-column">
            <div class="service-img">
              <img src="../../../assets/product-image/7-days-return.png" alt="">
            </div>
            <div class="service-description">
              Có cộng dồn ưu đãi KHTT
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
