.article {
    position: absolute;
    top: 7vh;
    z-index: -1;
}

.section-title {
    font-size: 2rem;
    font-weight: 700;
}

.explore-btn {
    background-color: #212529;
    color: #FFFFFF;
    font-size: .8rem;
    font-weight: 600;
    border: none;
    border-radius: 3px;
}

.section-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem 0;
    height: 100%;
}
