<div class="article mt-3 p-3 w-100">
    <div class="new-arrival mb-5">
        <div class="section-title text-center mb-4">NEW ARRIVALS</div>
        <div class="section-img h-40 mb-4">
            <img class="mb-3 img-fluid" src="../../../../assets/homeimg/IMG_2436.jpg" alt="">
        </div>
        <div class="text-center mb-5">
            <button class="explore-btn p-3">EXPLORE THE COLLECTION</button>
        </div>
    </div>

    <div class="new-arrival even-section">
        <div class="section-title text-center mb-4">TRENDING</div>
        <div class="section-img h-40 mb-4">
            <img class="w-100 mb-3" src="../../../../assets/homeimg/IMG_2569.jpg" alt="">
        </div>
        <div class="text-center mb-5">
            <button class="explore-btn p-3">EXPLORE THE COLLECTION</button>
        </div>
    </div>
</div>