input[type="file"] {
    display: none;
}

.input-file-btn {
    cursor: pointer;
}

.data {
    font-size: .95rem;
}

nz-header, nz-layout, nz-content {
  background-color: transparent;
}

nz-footer {
  height: 50px;
  background-color: #FFFFFF;
}
