<nz-layout class="h-100">
  <nz-header class="d-flex align-items-center px-2">
    <button nz-button nzType="default" nzSize="default" nz-tooltip nzTooltipTitle="Nhập excel đơn Shopee"
      nzTooltipPlacement="bottom" class="me-2 d-flex align-items-center" (click)="fileUpload.click()">
      <span nz-icon nzType="upload"></span>
      Nhập excel đơn Shopee
    </button>

    <input type="file" accept=".xlsx" class="file-input" (change)="onFileSelected($event)" #fileUpload>
  </nz-header>

  <nz-content class="px-2">
    <nz-table nzBordered #rowSelectionTable nzShowPagination="false" [nzFrontPagination]="false"
      [nzScroll]="{ x: '1200px', y: '768px' }" [nzData]="shopeeOrders" [nzLoading]="loading" nzSize="small">
      <thead>
        <tr>
          <th scope="col">Mã đơn hàng</th>
          <th scope="col">Mã vận đơn</th>
          <th scope="col">Tên người mua</th>
          <th scope="col">Số lượng SP</th>
          <!-- Doanh thu chưa trừ chi phí -->
          <th scope="col">Doanh thu</th>
          <th scope="col">Ngày đặt hàng</th>
          <th scope="col">Tỉnh/Thành</th>
          <th scope="col">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of shopeeOrders">
          <td class="fw-bold">{{ order.orderId }}</td>
          <td>{{ order.shipmentCode }}</td>
          <td>{{ order.customerUsername }}</td>
          <td>{{ order.products.length }}</td>
          <td>{{ order.totalOrderValue | number }}</td>
          <td>{{ order.orderDate | date : 'dd/MM/yyyy, HH:mm' }}</td>
          <td>{{ order.province }}</td>
          <td>{{ order.orderStatus }}</td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>

  <nz-footer class="d-flex align-items-center justify-content-between px-2">
    <div class="order-info"></div>
    <div class="d-flex align-items-center justify-content-end">
      <nz-pagination [(nzPageIndex)]="orderParams.pageIndex" [nzTotal]="totalCount" [nzSize]="'small'" nzShowSizeChanger
        (nzPageIndexChange)="onPageChange($event)" [nzPageSize]="orderParams.pageSize"
        (nzPageSizeChange)="onPageSizeChange($event)">
      </nz-pagination>
    </div>
  </nz-footer>
</nz-layout>
