<nz-layout>
  <nz-header class="d-flex align-items-center px-2">
    <button nz-button nzType="primary" nzSize="default" (click)="addOrder()" nz-tooltip
      nzTooltipTitle="Thêm đơn hàng mới" nzTooltipPlacement="bottom" class="me-2">
      <span nz-icon nzType="plus"></span>
    </button>

    <button nz-button nzType="default" nzSize="default" (click)="addOrder()" nz-tooltip
      nzTooltipTitle="Tải lại" nzTooltipPlacement="bottom" class="me-2 d-flex align-items-center">
      <span nz-icon nzType="sync"></span>
      Tải lại
    </button>

    <button nz-button nzType="default" nzSize="default" (click)="addOrder()" nz-tooltip
      nzTooltipTitle="In đơn" nzTooltipPlacement="bottom" class="me-2 d-flex align-items-center">
      <span nz-icon nzType="printer"></span>
      In đơn
    </button>

    <button nz-button nzType="default" nzSize="default" (click)="addOrder()" nz-tooltip
      nzTooltipTitle="Xuất excel" nzTooltipPlacement="bottom" class="d-flex align-items-center">
      <span nz-icon nzType="download"></span>
      Xuất excel
    </button>
  </nz-header>

  <nz-content class="px-2">
    <nz-tabset nzType="card" [nzSize]="'small'" class="h-100">
      <nz-tab [nzTitle]="allOrderTitleTemplate">
        <ng-template nz-tab>
          <app-all-order class="h-100"></app-all-order>
        </ng-template>
        <ng-template #allOrderTitleTemplate>
          <div class="d-flex align-items-center">
            Tất cả <nz-badge nzStandalone [nzCount]="1122" [nzOverflowCount]="99999" class="ms-2" [nzStyle]="{ backgroundColor: '#e8f5fb', color: '#1a57a1' }"></nz-badge>
          </div>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="addOrderTitleTemplate">
        <ng-template nz-tab>
          <app-new-order class="h-100"></app-new-order>
        </ng-template>
        <ng-template #addOrderTitleTemplate>
          <div class="d-flex align-items-center">
            Mới <nz-badge nzStandalone [nzCount]="1122" [nzOverflowCount]="99999" class="ms-2" [nzStyle]="{ backgroundColor: '#e8f5fb', color: '#1a57a1' }"></nz-badge>
          </div>
        </ng-template>
      </nz-tab>
      <nz-tab nzTitle="Đã xác nhận">Đã xác nhận</nz-tab>
      <nz-tab nzTitle="Đã gửi hàng">Đã xác nhận</nz-tab>
      <nz-tab nzTitle="Đã nhận">Đã xác nhận</nz-tab>
      <nz-tab nzTitle="Đang hoàn">Đã xác nhận</nz-tab>
    </nz-tabset>
  </nz-content>
</nz-layout>
