<div class="order-container">
  <div class="px-2">
    <nz-space class="control-bar d-flex flex-row">
      <button
        nz-button
        *nzSpaceItem
        nzType="primary"
        nzSize="default"
        (click)="addOrder()"
        nz-tooltip
        nzTooltipTitle="Thêm đơn hàng mới"
        nzTooltipPlacement="bottom"
      >
        <span nz-icon nzType="plus"></span>
      </button>

      <button
        *nzSpaceItem
        nz-button
        nzType="default"
        class="d-flex align-items-center"
      >
        <span nz-icon nzType="printer"></span>
        In đơn
      </button>

      <button
        *nzSpaceItem
        nz-button
        nzType="default"
        class="d-flex align-items-center"
      >
        <span nz-icon nzType="download"></span>
        Xuất excel
      </button>
    </nz-space>
  </div>

  <div class="data mt-3 px-2">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">
            <input type="checkbox" />
          </th>
          <th scope="col">Mã đơn hàng</th>
          <th scope="col">Mã vận đơn</th>
          <th scope="col">Nguồn đơn</th>
          <th scope="col">Tên người mua</th>
          <th scope="col">Doanh thu</th>
          <th scope="col">Tỉnh/Thành</th>
          <th scope="col">Ngày đặt hàng</th>
          <th scope="col">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <input type="checkbox" />
          </th>
          <th scope="row">1</th>
          <td>Shopee</td>
          <td>Shopee</td>
          <td>Marki</td>
          <td>100,000</td>
          <td>Hà Nội</td>
          <td>12/01/2023</td>
          <td>Chờ xác nhận</td>
        </tr>
        <tr>
          <th>
            <input type="checkbox" />
          </th>
          <th scope="row">1</th>
          <td>Shopee</td>
          <td>Shopee</td>
          <td>Mark</td>
          <td>100,000</td>
          <td>Hà Nội</td>
          <td>12/01/2023</td>
          <td>Chờ xác nhận</td>
        </tr>
        <tr>
          <th>
            <input type="checkbox" />
          </th>
          <th scope="row">1</th>
          <td>Shopee</td>
          <td>Shopee</td>
          <td>Mark</td>
          <td>100,000</td>
          <td>Hà Nội</td>
          <td>12/01/2023</td>
          <td>Chờ xác nhận</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
