<!-- SORT MENU -->
<!-- <div class="d-flex align-items-center justify-content-end px-2">
  <button nz-button nz-dropdown [nzDropdownMenu]="sortMenu" nzPlacement="bottomRight">
    <span nz-icon nzType="align-right" nzTheme="outline"></span>
  </button>
  <nz-dropdown-menu #sortMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item class="fw-bold">Sắp xếp theo</li>
      <li nz-menu-item>
        <div class="d-flex align-items-center">
          <span nz-icon nzType="arrow-down" nzTheme="outline"></span>
          <span class="ms-1">
            Giá từ cao xuống thấp
          </span>
        </div>
      </li>

      <li nz-menu-item>
        <div class="d-flex align-items-center">
          <span nz-icon nzType="arrow-up" nzTheme="outline"></span>
          <span class="ms-1">
            Giá từ thấp lên cao
          </span>
        </div>
      </li>

      <li nz-menu-item>
        <div class="d-flex align-items-center">
          <span nz-icon nzType="sort-ascending" nzTheme="outline"></span>
          <span class="ms-1">
            Tên sản phẩm: A - Z
          </span>
        </div>
      </li>

      <li nz-menu-item>
        <div class="d-flex align-items-center">
          <span nz-icon nzType="sort-descending" nzTheme="outline"></span>
          <span class="ms-1">
            Tên sản phẩm: Z - A
          </span>
        </div>
      </li>
    </ul>
  </nz-dropdown-menu>
</div> -->

<!-- PRODUCTS -->
<div class="tw-grid tw-grid-cols-2 md:tw-grid-cols-4">
  <div *ngFor="let product of products" class="tw-h-[400px] md:tw-h-[757px]">
    <div class="tw-h-[80%] md:tw-h-[88%]">
      <img nz-image [src]="product.photos[0]?.url" class="object-fit-cover w-100 h-100 md:tw-cursor-pointer" (click)="redirectToProduct(product?.slug)">
    </div>

    <div class="tw-h-[20%] md:tw-h-[12%] tw-px-3 tw-py-2">
      <div class="tw-my-1">
        <p nz-typography nzEllipsis nzEllipsisRows="1" class="tw-text-xs">{{ product.name }}</p>
      </div>

      <div class="tw-my-1">
        <span class="tw-text-xs">100.000 đ</span>
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <div class="tw-w-full border">
    <div class="d-flex justify-content-center py-4">
      <button type="button" class="w-50 btn btn-white border border-dark fw-semibold">
        Xem thêm
      </button>
    </div>
  </div>
</div> -->