<div class="d-flex flex-row align-items-center">
  Kích cỡ:

  <span class="ms-2">
    <input
      type="radio"
      class="btn-check"
      name="size"
      id="option3"
      autocomplete="off"
      checked
    />
    <label class="btn btn-sm btn-outline-dark rounded-0" for="option3">S</label>
  </span>

  <span class="ms-2">
    <input
      type="radio"
      class="btn-check"
      name="size"
      id="option4"
      autocomplete="off"
    />
    <label class="btn btn-sm btn-outline-dark rounded-0" for="option4">M</label>
  </span>

  <span class="ms-2">
    <input
      type="radio"
      class="btn-check"
      name="size"
      id="option5"
      autocomplete="off"
    />
    <label class="btn btn-sm btn-outline-dark rounded-0" for="option5">L</label>
  </span>
</div>
