<nz-layout>
    <nz-header class="d-flex align-items-center px-2">
      <button nz-button nzType="primary" nzSize="default" (click)="addOrder()" nz-tooltip
        nzTooltipTitle="Thêm đơn hàng mới" nzTooltipPlacement="bottom" class="me-2">
        <span nz-icon nzType="plus"></span>
      </button>

      <button nz-button nzType="default" nzSize="default" (click)="reloadOrder()" nz-tooltip
        nzTooltipTitle="Tải lại" nzTooltipPlacement="bottom" class="me-2 d-flex align-items-center">
        <span nz-icon nzType="sync"></span>
        Tải lại
      </button>

      <button nz-button nzType="default" nzSize="default" (click)="addOrder()" nz-tooltip
        nzTooltipTitle="In đơn" nzTooltipPlacement="bottom" class="me-2 d-flex align-items-center">
        <span nz-icon nzType="printer"></span>
        In đơn
      </button>

      <button nz-button nzType="default" nzSize="default" (click)="addOrder()" nz-tooltip
        nzTooltipTitle="Xuất excel" nzTooltipPlacement="bottom" class="d-flex align-items-center">
        <span nz-icon nzType="download"></span>
        Xuất excel
      </button>
    </nz-header>

    <nz-content class="px-2">
      <nz-tabset nzType="card" [nzSize]="'small'" class="h-100">
        <nz-tab [nzTitle]="allOrderTitleTemplate">
          <ng-template nz-tab>
            <app-all-site-orders class="h-100" [orderStatus]="-1"></app-all-site-orders>
          </ng-template>
          <ng-template #allOrderTitleTemplate>
            <div class="d-flex align-items-center">
              Tất cả <nz-badge nzStandalone [nzCount]="1122" [nzOverflowCount]="99999" class="ms-2" [nzStyle]="{ backgroundColor: '#e8f5fb', color: '#1a57a1' }"></nz-badge>
            </div>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="addOrderTitleTemplate">
          <ng-template nz-tab>
            <app-all-order class="h-100" [orderStatus]="1"></app-all-order>
          </ng-template>
          <ng-template #addOrderTitleTemplate>
            <div class="d-flex align-items-center">
              Mới <nz-badge nzStandalone [nzCount]="5" [nzOverflowCount]="99999" class="ms-2" [nzStyle]="{ backgroundColor: '#e8f5fb', color: '#1a57a1' }"></nz-badge>
            </div>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="waitOrderTitleTemplate">
          <ng-template nz-tab>
            <app-all-order class="h-100" [orderStatus]="2"></app-all-order>
          </ng-template>
          <ng-template #waitOrderTitleTemplate>
            <div class="d-flex align-items-center">
              Chờ hàng <nz-badge nzStandalone [nzCount]="0" [nzOverflowCount]="99999" class="ms-2" [nzStyle]="{ backgroundColor: '#e8f5fb', color: '#1a57a1' }"></nz-badge>
            </div>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="priorityOrderTitleTemplate">
          <ng-template nz-tab>
            <app-all-order class="h-100" [orderStatus]="3"></app-all-order>
          </ng-template>
          <ng-template #priorityOrderTitleTemplate>
            <div class="d-flex align-items-center">
              Ưu tiên xuất đơn <nz-badge nzStandalone [nzCount]="0" [nzOverflowCount]="99999" class="ms-2" [nzStyle]="{ backgroundColor: '#e8f5fb', color: '#1a57a1' }"></nz-badge>
            </div>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="confirmedOrderTitleTemplate">
          <ng-template nz-tab>
            <app-all-order class="h-100" [orderStatus]="4"></app-all-order>
          </ng-template>
          <ng-template #confirmedOrderTitleTemplate>
            <div class="d-flex align-items-center">
              Đã xác nhận <nz-badge nzStandalone [nzCount]="9" [nzOverflowCount]="99999" class="ms-2" [nzStyle]="{ backgroundColor: '#e8f5fb', color: '#1a57a1' }"></nz-badge>
            </div>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="sentOrderTitleTemplate">
          <ng-template nz-tab>
            <app-all-order class="h-100" [orderStatus]="5"></app-all-order>
          </ng-template>
          <ng-template #sentOrderTitleTemplate>
            <div class="d-flex align-items-center">
              Đã gửi hàng <nz-badge nzStandalone [nzCount]="58" [nzOverflowCount]="99999" class="ms-2" [nzStyle]="{ backgroundColor: '#e8f5fb', color: '#1a57a1' }"></nz-badge>
            </div>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="canceledOrderTitleTemplate">
          <ng-template nz-tab>
            <app-all-order class="h-100" [orderStatus]="6"></app-all-order>
          </ng-template>
          <ng-template #canceledOrderTitleTemplate>
            <div class="d-flex align-items-center">
              Đơn đã huỷ <nz-badge nzStandalone [nzCount]="5" [nzOverflowCount]="99999" class="ms-2" [nzStyle]="{ backgroundColor: '#e8f5fb', color: '#1a57a1' }"></nz-badge>
            </div>
          </ng-template>
        </nz-tab>
        <nz-tab [nzTitle]="deletedOrderTitleTemplate">
          <ng-template nz-tab>
            <app-all-order class="h-100" [orderStatus]="7"></app-all-order>
          </ng-template>
          <ng-template #deletedOrderTitleTemplate>
            <div class="d-flex align-items-center">
              Đơn đã xoá <nz-badge nzStandalone [nzCount]="194" [nzOverflowCount]="99999" class="ms-2" [nzStyle]="{ backgroundColor: '#e8f5fb', color: '#1a57a1' }"></nz-badge>
            </div>
          </ng-template>
        </nz-tab>
      </nz-tabset>
    </nz-content>
  </nz-layout>
