<nz-layout class="h-100 p-2">
  <nz-content>
    <nz-table #basicTable nzSize="small" [nzData]="users" nzShowPagination="false">
      <thead>
        <tr>
          <th>Username</th>
          <th>Active Roles</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.username}}</td>
          <td>{{data.roles}}</td>
          <td>
            <button nz-button nzSize="small" nzType="primary" (click)="showEditRolesModal(data)">Edit Roles</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>