nz-header {
    height: 3rem;
}

nz-layout {
    height: 100%;
}

nz-content {
    overflow: auto;
}

nz-header,
nz-layout,
nz-content {
    background-color: #ebecef;
}

::ng-deep .ant-tabs-tab {
    background-color: #F2F4F7;
}

::ng-deep .ant-tabs-top>.ant-tabs-nav {
    margin-bottom: 0px;
}

::ng-deep .ant-tabs-content {
    height: 100%;
}