<div [formGroup]="customerInfoForm">
    <p class="fs-6 fw-semibold">Khách hàng</p>

    <div nz-row>
        <div nz-col nzSpan="12" class="pe-1">
            <input nz-input placeholder="Tên khách hàng" formControlName="customerName" type="text" class="input-bg"
                nzBorderless />
        </div>
        <div nz-col nzSpan="12" class="ps-1">
            <input nz-input placeholder="Số điện thoại" formControlName="customerPhoneNumber" type="text"
                class="input-bg" nzBorderless />
        </div>
    </div>

    <div nz-row class="mt-2">
        <div nz-col nzSpan="12" class="pe-1">
            <input nz-input placeholder="Địa chỉ email" formControlName="customerEmailAddress" type="text"
                class="input-bg" nzBorderless />
        </div>
        <div nz-col nzSpan="12" class="ps-1">
            <nz-date-picker class="w-100 input-bg" nzBorderless formControlName="customerDOB" nzPlaceHolder="Ngày sinh"
                (ngModelChange)="onDOBChange($event)"></nz-date-picker>
        </div>
    </div>
</div>