.table-edit-button:hover {
    cursor: pointer;
}

.product-picture {
    width: 35px;
    height: 35px;
}

.product-list-container {
    height: 100%;
}

.control-bar {
    height: 5%;
    border: 1px peru solid;
}

.list-products {
    height: 94%;
    
}