.table-edit-button:hover {
    cursor: pointer;
}

.product-picture {
    width: 35px;
    height: 35px;
}

.product-list-container {
    height: 100%;
}


.list-products {
    height: 94%;
}

td:hover {
  cursor: pointer;
}
