<div class="product-list-container px-2">
  <div class="control-bar d-flex flex-row py-1">
    <button
      class="btn btn-sm fa fa-plus btn-outline-primary rounded-0 me-2"
      (click)="displayCreateModal()"
      [popover]="'Thêm mới sản phẩm'"
      triggers="mouseenter:mouseleave"
    ></button>

    <button class="btn btn-sm btn-outline-secondary rounded-0 me-2">
      <span class="fa fa-download me-1"></span>
      <span>Xuất excel</span>
    </button>

    <button class="btn btn-sm btn-outline-secondary rounded-0 me-2" (click)="deleteSelectedProducts()">
      <span class="fa fa-trash me-1"></span>
      <span>Xoá sản phẩm</span>
    </button>
  </div>

  <div class="data list-products border border-danger mt-3" *ngIf="products.length > 0">
    <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzData]="products"
      [nzTotal]="totalCount"
      [nzPageSize]="productParams.pageSize"
      [nzPageIndex]="productParams.pageIndex"
      [nzScroll]="{ y: '500px' }"
      (nzQueryParams)="onQueryParamsChange($event)"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th
            [(nzChecked)]="checked"
            [nzWidth]="'40px'"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
          <th>Tên sản phẩm</th>
          <th>SKU sản phẩm</th>
          <th>Hình ảnh</th>
          <th>Giá bán</th>
          <th>Hình ảnh</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td (click)="displayEditModal(data)">{{ data.name }}</td>
          <td (click)="displayEditModal(data)">{{ data.productSKU }}</td>
          <td (click)="displayEditModal(data)"> Ảnh sản phẩm </td>
          <td (click)="displayEditModal(data)">{{ data.importPrice | currency}}</td>
          <td (click)="displayEditModal(data)">{{ data.importPrice }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

