<div class="product-list-container">
  <div class="control-bar d-flex flex-row px-2">
    <button
      class="btn btn-sm fa fa-plus btn-outline-primary rounded-0 me-2"
      (click)="openAddProductModal()"
    ></button>
    <button
      class="btn btn-sm fa fa-plus btn-outline-primary rounded-0 me-2"
    ></button>
  </div>

  <div class="list-products border mt-3 px-2">
    <table class="table table-light table-striped">
      <thead>
        <tr>
          <th scope="col">
            <input type="checkbox" />
          </th>
          <th scope="col">SKU sản phẩm</th>
          <th scope="col">Tên sản phẩm</th>
          <th scope="col">Giá nhập</th>
          <th scope="col">Giá bán</th>
          <th scope="col">Hình ảnh</th>
          <th scope="col">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <th>
            <input type="checkbox" />
          </th>
          <th scope="row">{{ product.productSKU }}</th>
          <td>{{ product.name }}</td>
          <td>{{ product.importPrice }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.pictureUrl }}</td>
          <td><a class="table-edit-button" (click)="editProduct(product)">Sửa</a></td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="totalCount"
        [itemsPerPage]="productParams.pageSize"
        [maxSize]="10"
        (pageChanged)="onPageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </div>
</div>
