<div class="product-list-container px-2">
  <div class="control-bar d-flex flex-row py-1">
    <button
      class="btn btn-sm fa fa-plus btn-outline-primary rounded-0 me-2"
      (click)="showModal1()"
      [popover]="'Thêm mới sản phẩm'"
      triggers="mouseenter:mouseleave"
    ></button>

    <button class="btn btn-sm btn-outline-secondary rounded-0 me-2">
      <span class="fa fa-download me-1"></span>
      <span>Xuất excel</span>
    </button>
  </div>

  <div class="data list-products border mt-3" *ngIf="products.length > 0">
    <table class="table table-light table-hover">
      <thead>
        <tr>
          <th scope="col">
            <input type="checkbox" />
          </th>
          <th scope="col">SKU sản phẩm</th>
          <th scope="col">Tên sản phẩm</th>
          <th scope="col">Hình ảnh</th>
          <th scope="col">Giá nhập</th>
          <th scope="col">Giá bán</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" role="button">
          <th class="align-middle">
            <input type="checkbox" />
          </th>
          <th class="align-middle" scope="row" (click)="editProduct(product)">{{ product.productSKU }}</th>
          <td class="align-middle" (click)="editProduct(product)">{{ product.name }}</td>
          <td class="align-middle" (click)="editProduct(product)"><img [src]="product.pictureUrl" alt="product picture" class="product-picture"></td>
          <td class="align-middle" (click)="editProduct(product)">{{ product.importPrice | number }}</td>
          <td class="align-middle" (click)="editProduct(product)">{{ product.price | number }}</td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="totalCount"
        [itemsPerPage]="productParams.pageSize"
        [maxSize]="10"
        (pageChanged)="onPageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </div>
</div>

