<div class="h-100 side-container">
  <nz-card class="w-100 h-100" [nzTitle]="cardTitle">
    <div class="mb-4">
      <p class="mb-0">Đơn hàng #31 đã được tạo</p>
      <p class="mb-0" nz-typography  nzType="secondary">NV thay đổi: Hệ thống</p>
      <p class="mb-0" nz-typography  nzType="secondary">11:27 26/08</p>
    </div>

    <div class="mb-4">
      <p class="mb-0">Sản phẩm MARKI/CHÂN VÁY THÔ CẠP CHUN SAU CO GIÃN CV348 trong kho sắp hết hàng</p>
      <p class="mb-0" nz-typography  nzType="secondary">NV thay đổi: Bach Nguyen</p>
      <p class="mb-0" nz-typography  nzType="secondary">11:27 26/08</p>
    </div>

    <div class="mb-4">
      <p class="mb-0">Đơn hàng #30 đã được tạo</p>
      <p class="mb-0" nz-typography  nzType="secondary">NV thay đổi: Hệ thống</p>
      <p class="mb-0" nz-typography  nzType="secondary">10:46 26/08</p>
    </div>

    <div class="mb-4">
      <p class="mb-0">Đơn hàng #29 đã được tạo</p>
      <p class="mb-0" nz-typography  nzType="secondary">NV thay đổi: Hệ thống</p>
      <p class="mb-0" nz-typography  nzType="secondary">10:32 26/08</p>
    </div>

    <div class="mb-4">
      <p class="mb-0">Bạn có một đơn giao không thành công #16</p>
      <p class="mb-0" nz-typography  nzType="secondary">NV thay đổi: Hệ thống</p>
      <p class="mb-0" nz-typography  nzType="secondary">10:10 26/08</p>
    </div>

    <div class="mb-4">
      <p class="mb-0">Sản phẩm MARKI/SƠ MI LỤA PHỐI NẮP TÚI DÀI TAY trong kho sắp hết hàng</p>
      <p class="mb-0" nz-typography  nzType="secondary">NV thay đổi: Hệ thống</p>
      <p class="mb-0" nz-typography  nzType="secondary">09:27 26/08</p>
    </div>

    <div class="mb-4">
      <p class="mb-0">Sản phẩm MARKI/CHÂN VÁY JEANS MỀM DÁNG A trong kho sắp hết hàng</p>
      <p class="mb-0" nz-typography  nzType="secondary">NV thay đổi: Hệ thống</p>
      <p class="mb-0" nz-typography  nzType="secondary">08:11 26/08</p>
    </div>

    <div class="mb-4">
      <p class="mb-0">Đơn hàng #28 đã được tạo</p>
      <p class="mb-0" nz-typography  nzType="secondary">NV thay đổi: Hệ thống</p>
      <p class="mb-0" nz-typography  nzType="secondary">01:25 26/08</p>
    </div>

    <div class="mb-4">
      <p class="mb-0">Đơn hàng #27 đã được tạo</p>
      <p class="mb-0" nz-typography  nzType="secondary">NV thay đổi: Hệ thống</p>
      <p class="mb-0" nz-typography  nzType="secondary">00:48 26/08</p>
    </div>
  </nz-card>

  <ng-template #cardTitle>
    <div class="d-flex align-items-center">
      <span nz-icon nzType="notification" nzTheme="outline" class="me-2"></span>
      Thông báo mới
    </div>
  </ng-template>
</div>
