<div class="h-100 side-container">
  <nz-card class="w-100 h-100" [nzTitle]="cardTitle">
    <ng-container *ngIf="notifications?.length; else empty">
      <div class="mb-4" *ngFor="let n of notifications" (click)="markAsRead(n)" style="cursor: pointer;">
        <p class="mb-0" [ngStyle]="{'font-weight': hasUnread(n) ? '600' : '400'}">{{ n.title }} - {{ n.message }}</p>
        <p class="mb-0" nz-typography nzType="secondary">{{ n.createdAt | date:'short' }}</p>
      </div>
    </ng-container>
    <ng-template #empty>
      <div class="text-center" nz-typography nzType="secondary">Chưa có thông báo</div>
    </ng-template>
  </nz-card>

  <ng-template #cardTitle>
    <div class="d-flex align-items-center">
      <span nz-icon nzType="notification" nzTheme="outline" class="me-2"></span>
      Thông báo mới
    </div>
  </ng-template>
</div>
